/* eZ publish 3 core CSS - th[eZ] 20021113                              */
/* Do _not_ remove or delete this stylesheet, because some basic        */
/* formatting methods in the system depends on it for proper display.   */
/* Just modify and/or override styles where necessary.                  */

/* MAIN WINDOW */

body
{
    background-color: #ffffff;
    margin: 8px;
    padding: 8px;
}

/* GLOBAL SETTING OF FONT TYPES */

h1, h2, h3, p, a, th, td, ul, ol, li, dl, dd, dt, label, div, span, input, textarea
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* GLOBAL SETTING OF FONT SIZES */

h1
{
    font-size: 160%;
}

h2
{
    font-size: 120%;
}

h3
{
    font-size: 90%;
}

p, ul, ol, dl, label, input, .normal, table.list th, table.list td
{
    font-size: 80%;
}

.small, div.byline p, p.picturetext, .factbox
{
    font-size: 65%;
}

td.bglight .small, td.bgdark .small
{
    font-size: 80%;
}

/* HEADINGS */

h1, h2, h3
{
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    clear: left;
}

h1
{
    padding-bottom: 1ex;
}

h1, h2
{
    font-weight: normal;
}

h3
{
    font-weight: bold;
}

/* REGULAR TEXT */

p
{
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin: 0px;
}

a
{
    color: #000000;
    text-decoration: underline;
}

a:hover
{
    color: #0000c0;
    text-decoration: underline;
    cursor: pointer;
}

/* NOT USED
a:visited
{
    color: #000000;
    text-decoration: underline;
}
*/

/* TABLES */

table
{
    margin: 0px;
    padding: 0px;
}

table.list
{
    margin-top: 0.5ex;
    margin-bottom: 1ex;
}

table.layoutlist td
{
    padding-bottom: 4px;
}

table.list th, table.list td
{
    padding: 1px;
    padding-right: 8px;
}

th
{
    padding-top: 0px;
    margin-top: 0px;
    font-weight: bold;
    text-align: left;
}

td
{
    font-weight: normal;
}

td.bglight
{
    background-color: #f8f8f8;
}

td.bgdark
{
    background-color: #f0f0f0;
}

td.tight
{
    font-size: 1px;
}

/* LISTS */

ul, ol
{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul
{
    margin-left: 16px;
}

ol
{
    margin-left: 24px;
}

li
{
    padding: 0px;
    margin-bottom: 0.5ex;
}

dl
{
    padding: 0px;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

dt, dd
{
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0.5ex;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 2ex;
    margin-right: 2ex;
}

/* FORMS */

form
{
    padding: 0px;
    margin: 0px;
}

input.box, textarea.box
{
    width: 468px;
}

input.halfbox, textarea.halfbox
{
    width: 230px;
}

label
{
    font-weight: bold;
    padding-right: 1ex;
}

div.labelbreak
{
    display: block;
}

input.button
{
    font-weight: bold;
    margin-right: 5px;
}

img.button
{
    border: 0px;
}

input.button:hover
{
    background-color: #f0f0f0;
    cursor: pointer;
}

p.box
{
    padding-top: 0.25ex;
}

optgroup
{
    font-weight: bold;
    font-style: normal;
}

/* PAGE DIVIDERS */

div.left
{
    float: left;
    display: block;
    width: 50%;
    clear: right;
}

div.right
{
    float: left;
    text-align: right;
    display: block;
    width: 50%;
    clear: right;
}

div.bodyblock
{
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

div.break
{
    display: block;
    clear: both;
}

div.block, div.step
{
    display: block;
    clear: both;
    padding: 0px;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

div.step
{
    background-color: #f0f0f0;
    margin: 0ex;
	border-bottom: dashed 2px #808080;
}

div.buttonblock
{
    margin-top: 1ex;
    margin-bottom: 1ex;
}

div.element
{
    float: left;
    display: block;
    padding-right: 1ex;
    padding-left: 0px;
    clear: right;
}

/* ARTICLE FORMATTING */

div.maincontentheader
{
    /* No special formatting yet! */
}

div.maincontentheader h1
{
    padding-top: 0px;
}

div.byline
{
    margin-bottom: 8px;
}

div.imageleft, div.imageright, div.faxtboxleft, div.faxtboxright, div.leftobject, div.rightobject
{
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline;
    clear: both;
}

div.imagecenter, div.factboxcenter, div.centerobject
{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
}

div.imagecenter
{
    text-align: center;
}

div.factboxcenter
{
    text-align: left;
}

div.imageleft, div.factboxleft, div.leftobject
{
    float: left;
    padding-right: 8px;
}

div.imageright, div.factboxright, div.rightobject
{
    float: right;
    padding-left: 8px;
}

div.faxtboxleft, div.faxtboxright
{
    background-color: #f0f0f0;
}

div.imageleft p.picturetext, div.imageright p.picturetext, div.imagecenter p.picturetext, p.factbox
{
    margin-top: 2px;
    margin-bottom: 2px;
}

div.imageleft p.picturetext, div.imageright p.picturetext, span.picturetext, p.factbox
{
    background-color: #f0f0f0;
}

div.bodyblock p.body
{
    display: inline;
}

/* MESSAGES TO THE USER */

.description
{
    background-color: #f8f8f8;
}

div.error, div.warning, div.feedback
{
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 0.5ex;
    padding-left: 1ex;
    padding-right: 2ex;
    border-width: 0.5ex;
    border-style: solid;
    background-color: #f8f8f8;
}

div.error
{
    border-color: #c00000;
}

div.warning
{
    border-color: #f0f000;
}

div.feedback
{
    border-color: #00a000;
}

/* OTHER OBJECTS */

hr
{
    height: 1px;
    padding: 0px;
    margin-top: 2ex;
    margin-bottom: 1ex;
    color: #c0c0c0;
}

.invisible
{
    display: none;
}

/* SPECIAL FEATURES */

div.listicon
{
    padding-right: 4px;
}

div.listbutton
{
    padding-right: 4px;
}

/* eZSetup stuff */
.ezsetup_fatal
{
	color: #FF0000;
}

.ezsetup_warning
{
	color: #E8E800;
}

.ezsetup_ok
{
	color: #00FF40;
}
