/* Styles specific for the setup program */

body
{
        background-color: #638ecf;
        margin: 0px;
        padding: 0px;
}

code, pre, tt {
    font-family: Courier, "Courier New", monospace;
    font-size: 80%;
}

pre
{
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin: 0px;
}

pre.example, p.example
{
    background-color: #ebf2f8;
    border-top : 1px solid #999999;
    border-bottom : 1px solid #999999;
    border-left : 1px solid #999999;
    border-right : 1px solid #999999;
}

div.quote
{
    padding-top: 2.5ex;
    padding-bottom: 2.5ex;
    padding-left: 2.5ex;
    padding-right: 2.5ex;
    margin: 0px;
    text-decoration: none;
    background-color: #f7f7f7;
    font-weight: bold;

    border-top : 1px solid #999999;
    border-bottom : 1px solid #999999;
    border-left : 1px solid #999999;
    border-right : 1px solid #999999;
}

blockquote.note
{
    background-color: #f7f7f7;
}

div.information
{
    background-color: #f2f4f9;
/*    color: #ffffff;*/
    text-decoration: none;
}


td.setup_noborder
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-bottom: 0px;
}

td.setup_main_area
{
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    border-bottom: 0px;
    vertical-align: top;
    background-color: #ffffff;
}

td.setup_noborder_white
{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-bottom: 0px;
    background-color: #ffffff;
}

td.setup_noborder_blue
{
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    border-bottom: 0px;
    vertical-align: top;
    background-color: #6d9ad7;
}

td.setup_site_templates
{
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-bottom: 0px;
}

td.setup_progress_left
{ 
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border-top: 6px;
  border-bottom: 6px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #91b0dd;
  background-color: #4373b4;
}

td.setup_progress_right
{ 
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  background-color: #91b0dd;
}


tt.option
{
}

p.enabled
{
	text-decoration: none;
	color: #000000;
}

p.current
{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

p.disabled
{
	text-decoration: none;
	color: #cccccc;
}

a:link.setup_final
{
  color: #4070ff;
}

a:visited.setup_final
{
  color: #6294ff;
}

a:link
{ 
  color: #82c4ff;
}

a:visited
{  
  color: #d6ecff;
}

div.setup_help
{ 
  color: #e0efff;
  font-size: small;
}

div.setup_progress_bar_text
{ 
  color: #ffffff;
  font-size: x-small;
}

div.setup_summary_ok
{ 
  color: #edf2fa;
  font-size: small;
}

div.setup_summary_empty
{ 
  color: #c0d0f0;
  font-size: small;
}


div.setup_help
{ 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  color: #edf2fa;
}

h1.setup_help_summary
{ 
  color: #edf2fa; 
}

div.setup_summary
{ 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: small;
  color: #edf2fa;
}

div.input_highlight
{
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 0.5ex;
    padding-left: 1ex;
    padding-right: 2ex;
    border-width: 0.2ex;
    border-style: solid;
    border-color: #505050;
    background-color: #f8f8f8;
}

img.site-type
{
    padding: 4px;
    border: 1px solid #666;
}