/* Styles specific for the setup program */

code, pre, tt {
    font-family: Courier, "Courier New", monospace;
    font-size: 80%;
}

pre
{
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin: 0px;
}

pre.example, p.example
{
    background-color: #ebf2f8;
    border-top : 1px solid #999999;
    border-bottom : 1px solid #999999;
    border-left : 1px solid #999999;
    border-right : 1px solid #999999;
}

div.quote
{
    padding-top: 2.5ex;
    padding-bottom: 2.5ex;
    padding-left: 2.5ex;
    padding-right: 2.5ex;
    margin: 0px;
    text-decoration: none;
    background-color: #f7f7f7;
    font-weight: bold;

    border-top : 1px solid #999999;
    border-bottom : 1px solid #999999;
    border-left : 1px solid #999999;
    border-right : 1px solid #999999;
}

blockquote.note
{
    background-color: #f7f7f7;
}

div.information
{
    background-color: #f2f4f9;
/*    color: #ffffff;*/
    text-decoration: none;
}


tt.option
{
}

p.enabled
{
	text-decoration: none;
	color: #000000;
}

p.current
{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

p.disabled
{
	text-decoration: none;
	color: #cccccc;
}

div.input_highlight
{
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 0.5ex;
    padding-left: 1ex;
    padding-right: 2ex;
    border-width: 0.2ex;
    border-style: solid;
    border-color: #000000;
    background-color: #f8f8f8;
}
