body
{
    padding: 0;
    margin: 0;
}

div#background /* Stretching over the the whole area the other DIVs cover, and the areas in between them; visible where no other color is set or any other DIVs cover. */
{
    background-color: #ffffff;
    height: 1%; /* Needed for IE5.5 to stop background color bug */
}

div#header
{
    background-color: #cc0000;
}

div#header div.design
{
    height: 68px;
}

div#logo
{
    float: left;
    margin-top: 0.3em;
    margin-right: 0.1em;
}

div#subheader
{
    background-color: #cc0000;
    border-bottom: 1px solid #000000; /* Padding needs to be set to a value other than 0 to stop a Mozilla color bug. */
}

div#mainmenu
{
    clear: both;
    float: right;
}

div#mainmenu ul, div#mainmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#mainmenu ul
{
    margin: 0;
}

div#mainmenu li
{
    margin: 0;
    background-image: url(../images/tab_corner-top_right.gif);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #ffcc00;
}

div#mainmenu a
{
    margin: 0;
    padding: 0 1em 0 1em;
    color: #000000;
    border-left: 1px solid #cc0000;
    text-decoration: none;
    background-image: url(../images/tab_corner-top_left.gif);
    background-position: top left;
    background-repeat: no-repeat;
}

div#mainmenu a:hover
{
    text-decoration: underline;
}

div#shoppingmenu
{ 
    float: right;
}

div#shoppingmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#shoppingmenu ul
{
    margin-left: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div#shoppingmenu li a
{
    padding-left: 0.5em;
    padding-right: 1em;
}

div#shoppingmenu a
{
    color: #000000;
    text-decoration: none;
}

div#shoppingmenu a:hover
{
    text-decoration: underline;
}

div#searchbox
{
    clear: both;
    background-color: #000000;
    padding: 0.2em;
}

div#searchbox form
{
    float: right;
}

div#searchbox input.searchtext
{
    font-size: 70%;
    border: 1px solid;
    width: 8em;
}

div#searchbox input.searchbutton
{
    font-size: 65%;
    margin-right: 1em;
}

div#path
{
    margin-top: 0;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

div#path p
{
    margin: 0;
}

div#path a
{
    color: #000000;
}

div#submenu
{
}

div#maincolumns
{
    background-image: url(../images/left_sidebar-background.gif);
    background-position: top left;
    background-repeat: repeat-y;
    border-bottom: 1px solid #000000;
}

div#leftmenu
{
    float: left;
    clear: left;
    width: 150px;
}

div#submenu div.design, div#latestproducts div.design
{
    margin: 0 1em 2em 1em;
}

div#submenu ul, div#latestproducts ul
{
    list-style-type: none;
    margin-left: 0;
}

div#submenu a, div#latestproducts a
{
    color: #000000;
}

div#rightmenu
{
    float: right;
    clear: right;
    width: 8em;
    border-left: 1px dotted #808080;
}

div#cart div.design, div#infobox div.design, div#latestnews div.design
{
    margin: 0 1em 2em 1em;
}

div#cart ul, div#infobox ul, div#latestnews ul
{
    list-style-type: none;
    margin-left: 0;
}

div#cart a, div#infobox a, div#latestnews a
{
    color: #000000;
}

div#cart div.price
{
    text-align: right;
}

div#maincontent
{
    background-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 1em;
    margin-left: 160px;
    margin-right: 9em;
    padding-left: 1em;
    padding-right: 1em;
    clear: none;
}

div#maincontent div.design
{
    width: 100%;
}

div#footer
{
    clear: both;
}

div#footer div.design
{
    background-color: #000000;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

div#footer a
{
    color: #ffffff;
}

/* General child "line view" object settings */

#folder div.child h2
{ 
    color: #444444;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#folder div.child div.byline
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#folder div.child div.object_brief p
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.readmore
{ 
}

#folder div.child div.readmore a
{ 
    color: #304b82;
}

#folder div.child div.readmore p
{ 
    padding: 0px;
    margin: 0px;
}

/* article styles */

#article div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#article div.intro p
{ 
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

/* Search */

div.advancedsearchbox
{ 
   display: none;
}

/* General */

h1
{ 
    margin-bottom: 5px;

}

div.editbutton
{ 
   float: right;
}

div.editbutton input
{ 
   font-size: small;
   background-color: #304b82;
   color: #ffffff;
}


/* Listmenu items */

#submenu .level_0
{
  padding: 0px;
  margin: 2px;
}

#submenu .level_1
{
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 5px;
}

#submenu .level_2
{
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 10px;
}

#submenu .level_3
{
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 15px;
}

#submenu .level_4
{
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 20px;
}

#submenu .level_5
{
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 25px;
}

#submenu div.selected a
{
  font-weight: bold;
}

.review
{
    margin-top: 4px;
    margin-bottom: 2px;
    border: 1px solid #e4eaf3;
}

.product #relatedorders
{
    margin-top: 4px;
    margin-bottom: 2px;
    border: 1px solid #e4eaf3;
}

.product #relatedorders .header h3
{
    text-decoration: none;
    margin-top: 0px;
    background-color: #afafaf;
}

.product #relatedorders div.product
{
    margin-top: 4px;
    margin-bottom: 2px;
    border: 1px solid #e4eaf3;
}

.product #relatedorders .delimiter
{
}

div.block, div.buttonblock
{
    clear: none;
}

/*--------------------*/

div.productnumber p
{
    font-style: italic;
}

div.price p
{
    font-weight: bold;
}

div.product div.controls
{
    margin-top: 1em;
    margin-bottom: 1em;
}

