.project
diffs/
support/ezlupdate-qt4.5/ezlupdate/obj
extension/
*.DS_Store
bin/win32
nbproject/
lib/ezc/
.gitignore
bin/linux/ezlupdate
support/ezlupdate-qt4.5/ezlupdate/moc
var/
settings/override/
.idea/
support/ezlupdate-qt4.5/ezlupdate/Makefile