extension/*
!extension/ezoe/
!extension/ezjscore/
!extension/ezformtoken/
settings/override/
settings/siteaccess/*
!settings/siteaccess/admin/
!settings/siteaccess/base/
!settings/siteaccess/mysite/
!settings/siteaccess/plain/
lib/ezc/
var/autoload/
var/cache/
var/*_site/
var/log/
var/storage/
var/dfsmount/
var/test*
var/somesubfolder/
.htaccess
config.php
*.DS_Store
.project
.idea/
nbproject/
bin/linux/ezlupdate
bin/win32
support/ezlupdate-qt4.5/ezlupdate/Makefile
support/ezlupdate-qt4.5/ezlupdate/moc
support/ezlupdate-qt4.5/ezlupdate/obj
