*.DS_Store
/.project
/.idea/
/nbproject/
/bin/linux/ezlupdate
/bin/win32
/vendor
/composer.lock
/var/*
# Except for any .gitkeep file in the tree. This is added only to keep directories in the repository.
!.gitkeep
