/* Intranet demo stylesheet                                    */
/* This is an additional stylesheet to the default core.css,   */
/* which needs to be included for this one to be correct.      */



body
{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#container 
{ 
  margin: 0px; 
  padding: 0px;
}

input.defaultbutton, input.button
{
    font-weight: normal;
    margin-right: 8px;
}

input.defaultbutton
{
    font-weight: bold;
}

/* Top box */

#topbox
{ 
  background-color: #FF6600;
  width: 100%; 
  height: 60px; 
  margin: 0px;
}

#logo
{ 
  padding: 10px; 
  clear: right;
  width: 15%;
  float: left;
}

#searchbox
{ 
  width: 40%;
  float: left;
  padding-top: 10px;
}

#sitelogo
{  
  width: 200px;
  height: 50px;
  margin: 0px;
  float: right;
  background: url("../images/06_intranet_logo.png") no-repeat;
}

/* Main menu */
div#mainmenu
{ 
  background-color: #cc0000;
  padding: 6px;  
  margin: 0px;
}

div#mainmenu ul, div#mainmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}


div#mainmenu ul
{
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ffffff;
}

div#mainmenu li a
{
    padding-left: 1em;
    padding-right: 3em;
}

div#mainmenu a
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

div#mainmenu a:hover
{
    text-decoration: underline;
}

#pathline
{ 
    display: block;
    clear: both;
    width: 100%; 
    color: #777777;
    background-color: #ffffff;
}

/* Path */
#mainpath
{ 
   width: 70%;
   font-size: 80%;
   color: #777777;
   background-color: #ffffff;
   padding: 4px;
   float: left;
}

#mainpath a
{ 
   color: #777777;
}

#mainpath .item
{ 
  display: inline;
}

#mainpath .delimiter
{ 
  display: inline;
}

#login
{ 
   width: 28%;
   color: #0000ff;
   font-size: 80%; 
   display: inline;
   text-align: right;
   float: right;
   padding: 4px; 
}

#date
{ 
  width: 100%;
  color: #000000;
  font-size: 80%;
  text-align: right;
  float: right;
  padding: 4px;
}

/* Main layout */
#mainframe
{ 
   background-color: #ffffff;	
   min-height: 400px;
   width: 100%;
}

/* sub menu */
div#submenu
{ 
   width: 150px;
   float: left;
}

div#submenu div.design
{ 
    padding-left: 1em;
}

div#submenu a
{ 
   color: #000;
}

div#submenu li.level_0
{ 
}

div#submenu li.level_1
{ 
    margin-left: 0.5em;
}

div#submenu li.level_2
{ 
    margin-left: 1.0em;
}

div#submenu li.level_3
{ 
    margin-left: 1.5em;
}

div#submenu li.level_4
{ 
    margin-left: 2.0em;
}


#maincontent
{ 
   width: 80%;
   float: right;
   clear: none;
   background-color: #ffffff;
}

#maincontent div.design
{ 
   border-left: 1px dashed #eee;
   padding-left: 2em;
}

/* Footer */
#footer
{ 
   margin-top: 20px;
   font-size: 80%;
   text-align: center;
   color: #eeeeee;
   padding: 4px;
   background-color: #663366;
   clear:both; 
}

#footer a
{ 
   color: #ffeeee;
}

/* folder styles */

div#folder h1
{ 
    color: #444;
    font-size: 110%;
}

div#folder div.person_line h2
{ 
    font-size: large;
    color: #333;
    border-bottom: 1px dotted #aaa;
    margin-bottom: 0.5em;
}

div#folder div.person_line h3
{ 
    color: #333;
}

div#folder div.person_line table
{ 
    padding: 0px;
    color: #333;
}


div#folder div.company_line h2
{ 
    font-size: 100%;
    color: #333;
    padding: 0.5em;
}

div#folder div.company_line h3
{ 
    color: #333;
}

div#folder div.person_line table
{ 
    padding: 0px;
    color: #333;
}


/* article/news styles */
div.articleline h2
{ 
    font-size: large;
    color: #333;
}

div.articleline h3
{ 
    color: #333;
}

div.articleline div.byline p
{ 
    padding: 0px;
    margin: 0px;
    color: #666;
}

div.articleline div.intro p
{ 
    padding: 0px;
    margin: 0px;
    color: #333;
}

div.articleline div.readmore a
{ 
    font-size: small;
    color: #333;
}


/* person styles */

div#person h1
{ 
    color: #444;
    font-size: 120%;
}

div#person h2
{ 
    color: #444;
    font-size: 100%;
}

div#person div.contact table
{ 
}


div#person div.comment
{ 
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #eee;
}


/* validation, fixup and feedback */
.validation .warning, .validation .feedback
{ 
    margin-top: 0.4ex;
    margin-bottom: 0.4ex;
    padding: 0.2ex;
    padding-left: 1ex;
    padding-right: 2ex;
}

.validation .title h1
{
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    font-weight: normal;
    font-size: 120%;
}
}

.validation .list
{
    display: block;
}

.validation .list .item
{
    font-size: 80%;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.validation .list .item .description
{
    display: inline;
    font-style: italic;
}

.validation .error
{
    border-bottom: solid 2px #ff3300;
    border-top: solid 2px #ff3300;
}

.validation .warning
{
    border-bottom: solid 2px #ff3300;
    border-top: solid 2px #ff3300;
}

.validation .feedback
{
    border-top: solid 2px #66cc33;
    border-bottom: solid 2px #66cc33;
}

.validation .highlight
{
    border-width: 0.1ex;
    border-color: #000000;
}

/* content edit */
.edit
{ 
/*     background-color: #dddddd; */
}

.edit .object_header h1
{ 
    font-size: 100%;
}

.edit .controls
{
    margin-top: 1.5ex;
}

/* content edit placement */

.edit div.placement
{ 
    display: block;
    padding-top: 1.2ex;
    padding-bottom: 1.2ex;
}

.edit div.placement div.delimiter
{ 
    display: block;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

/* content edit attributes */

.edit .attribute .list
{ 
    margin-top: 1ex;
    display: block;
}

.edit .attribute .list .title
{
    font-weight: bold;
    padding-right: 1ex;
    white-space: nowrap;
}

.edit .attribute .list .item
{
    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    font-size: 90%;
}

.edit .attribute .list .content
{
    font-size: 70%;
}

.edit .attribute .list .odd
{
/*    background-color: #f8f8f8; */
}

.edit .attribute .list .even
{ 
/*    background-color: #f0f0f0; */
}

/* content object information */

.edit #objectinfo, .edit #versioninfo
{
    display: block;
    padding-top: 1.2ex;
    padding-bottom: 1.2ex;
display: none;
}

.edit #objectinfo .title, .edit #versioninfo .title
{
    font-weight: bold;
    padding-right: 1ex;
    white-space: nowrap;
}

.edit #versioninfo .buttonblock
{ 
    font-weight: none;
    font-size: 70%;
    margin: 4px;
}

/* content object related */

.edit #related
{
    display: block;
    padding-top: 1.2ex;
    padding-bottom: 1.2ex;
    float: right;
    clear: right;
    width: 30%;
    background-color: #eeeeee;
}

.edit #related .title
{
    font-weight: bold;
    padding-right: 1ex;
    white-space: nowrap;
    text-align: center;
}

.edit #related .controls
{ 
    border-top: solid 2px #555555;
}

.edit #related .controls .button
{
    padding-top: 2px;
    float: right;
    clear: both;
}

.edit #related .controls .classcreate select
{
    padding-top: 2px;
    float: right;
    clear: both;
}

.edit #related .list
{ 
    display: block;
}

.edit #related .list .item
{
    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    font-size: 90%;
}

.edit #related .list .item .select
{
}

.edit #related .list .object_tag_example
{
    font-size: 70%;
}

.edit #related .list .selected
{
}

.edit #related .list .odd
{
    background-color: #f8f8f8;
}

.edit #related .list .even
{ 
    background-color: #f0f0f0;
}

.edit #related .buttonblock
{ 
    font-weight: none;
    font-size: 70%;
    margin: 4px;
}

/* article */
