body
{
    padding: 0;
    margin: 0;
}

div#background /* Stretching over the the whole area the other DIVs cover, and the areas in between them; visible where no other color is set or any other DIVs cover. */
{
    background-color: #ffffff;
    height: 1%; /* Needed for IE5.5 to stop background color bug */
}

div#header
{
    background-color: #eeeeee;
    background-position: top left;
    background-repeat: repeat-x;
}

div#header div.design
{
    background-position: top left;
    background-repeat: no-repeat;
    height: 68px;
}

div#logo
{
    float: right;
    margin-top: 0.3em;
    margin-right: 0.1em;
}

div#subheader
{
    background-color: #105888;
    border-bottom: 7px solid #28689c;
    padding: 0.1em; /* Padding needs to be set to a value other than 0 to stop a Mozilla color bug. */
}

div#mainmenu
{
    float: left;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

div#mainmenu ul, div#mainmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#mainmenu ul
{
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#mainmenu li a
{
    padding-left: 1em;
    padding-right: 3em;
}

div#mainmenu a
{
    font: bold 110% Georgia,Serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

div#mainmenu a:hover
{
    text-decoration: underline;
}

div#searchbox
{
    float: right;
    clear: right;
}

div#searchbox input.searchtext
{
    font-size: 80%;
    width: 8em;
}

div#searchbox input.searchbutton
{
    font-size: 80%;
    margin-right: 1em;
}

div#path
{
    margin-top: 1.7em;
    margin-bottom: 1em;
}

div#path p
{
    margin: 0;
    color: #666666;
}

div#path a
{
    color: #666666;
    border-bottom: 1px dotted #105888;
    text-decoration:none;
}

div#submenu
{
    float: left;
    clear: left;
    width: 8em;
}

div#submenu div.design
{
    padding: 0.1em;
}

div#submenu ul
{
    list-style-type: none;
    margin-left: 1em;
    margin-top: 2em;
}

div#submenu li
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div#submenu a
{
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}

div#submenu a:hover
{
    text-decoration: underline;
}

div#infobox
{
    display: inline;
    margin-top: 0;
    margin-bottom: 2em;
    float: left;
    clear: none;
    width: 170px;
}

div#infobox div.design
{
    border: 1px solid #185484;
    background-position: top left;
    background-repeat: no-repeat;
}

div#infobox h3
{
    font: verdana, arial, helvetica;
    margin-top: 0px;
    padding: 0.2em;
    padding-left: 1.2em;
    background-color: #185484;
    color: #ffffff;
}

div#infobox ul
{
    list-style-type: none;
    margin-bottom: 0em;
    margin-left: 0em;
}

div#infobox li
{
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

div#infobox li.bglight
{
    background-color: #eeeeee;
}

div#infobox li.bgdark
{
    background-color: #dddddd;
}

div#infobox a
{
    text-decoration:none;
    color: #333333;
}

div#infobox div.date
{
    color: #777777;
}

div#maincontent
{
    position:relative;
    margin-bottom: 2em;
    margin-left: 200px;
    margin-right: 20px;
}

/* News block */

div#newsblock
{
    clear: both;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-top: 2em;
}

div#newsblock div.design
{
    border: 1px dotted #999999;
}

div#newsblock table
{
   width: 100%;
}

div#newsblock td
{
   width: 25;
}


div#newsblock h3
{
   color: #666666;
}

div#newsblock a
{
   border-bottom: 1px dotted #105888;
   text-decoration:none;
   color: #105888;
}

div#newsblock ul
{
    list-style-type: none;
    margin-bottom: 0em;
    margin-left: 0em;
}

div#newsblock li
{
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.0em;
    padding-bottom: 0.1em;
    padding-left: 0em;
}

/* Poll block */

div#pollbox
{
   background-color: #eeeeee;
}

div#pollbox div.poll
{
   padding-left: 1em;
}


div#footer
{
    margin-top: 1em;
    text-align: center;
    clear: both;
}

div#footer div.design
{
    background-color: #333333;
    color: #ffffff;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

div#footer a
{
    color: #ffffff;
}

/* General child "line view" object settings */

#folder div.child h2
{ 
    font: bold 110% Georgia,Serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#folder div.child div.byline
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.byline p
{ 
    color: #888888;
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}

#folder div.child div.object_brief p
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.readmore
{ 
}

#folder div.child div.readmore a
{ 
    border-bottom: 1px dotted #105888;
    text-decoration:none;
    font-size: small;
    color: #304b82;
}

#folder div.child div.readmore p
{ 
    padding: 0px;
    margin: 0px;
}


/* frontpage styles */
#frontpage div#largenews h2
{ 
    font: bold 150% Georgia,Serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#frontpage div#mediumnews h2
{ 
    font: bold 110% Georgia,Serif;
    color: #666666;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#frontpage div.child div.byline
{ 
    margin: 0px;
    padding: 0px;
}

#frontpage div.child div.byline p
{ 
    color: #888888;
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}

#frontpage div.child div.object_brief p
{ 
    margin: 0px;
    padding: 0px;
}

#frontpage div.child div.readmore
{ 
}

#frontpage div.child div.readmore a
{ 
    border-bottom: 1px dotted #105888;
    text-decoration:none;
    font-size: small;
    color: #304b82;
}

#frontpage div.child div.readmore p
{ 
    padding: 0px;
    margin: 0px;
}

/* article styles */

#article div.byline p
{ 
    color: #888888;
    font-size: x-small;
    margin: 0px;
    padding: 0px;
}

#article div.intro p
{ 
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#article div.relatedarticles
{ 
    border: 1px dashed #aaaaaa;
    background-color: #eeeeee;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#article div.relatedarticles h2
{ 
    font: bold 100% Georgia,Serif;
    color: #999999;
    margin: 0px;
    padding: 0px;
}

#article div.relatedarticles a
{ 
    border-bottom: 1px dotted #105888;
    text-decoration:none;
    color: #105888;
}

#article div.tipafriend
{ 
    border: 1px dashed #aaaaaa;
    background-color: #eeeeee;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#article div.tipafriend a
{ 
    font-size: small;
    border-bottom: 1px dotted #105888;
    text-decoration:none;
    color: #105888;
}

#article div.articlecomments
{ 
    background-color: #eeeeee;
    padding: 0.5em;
}

#article div.articlecomments h2
{ 
    font: bold 100% Georgia,Serif;
    color: #999;

}

/* image styles */

#image img
{ 
    background-color: #000;
    padding: 20px;
}

div.image_line img
{ 
    background-color: #ff6600;
    border: 2px solid #a17000;
    padding: 7px;
}

/* image comments */

#commentlist
{ 
    background-color: #cccccc;
    padding: 10px;
}

#commentlist h2
{ 
    color: #999999
    border-bottom: 1px solid #999999;
}

/* poll */

div#pollbox
{ 
    background-color: #f0f0f0;
}

div#poll
{ 
    padding-left: 12px;
}

#poll div.object_title
{ 
    font: italic 90%/1.6em Georgia,Serif;
    border-bottom: 1px dotted #ccc; 
    color: #a17000;
    padding-left: 0px;
}

div.pollline
{ 
    padding-left: 5px;
}

/* poll result */

div#poll_result
{ 
    padding-left: 0px;
}

#poll_result div.object_title
{ 
    font: bold 100% Georgia,Serif;
    color: #999999;
    margin: 0px;
    padding: 0px;
}


/* Search */

div.advancedsearchbox
{ 
   display: none;
}

/* General */

h1
{ 
    font: bold 110% Georgia,Serif;
    margin-bottom: 5px;
    color: #28689c;
}


div.editbutton
{ 
   float: right;
}

div.editbutton input
{ 
   font-size: small;
   background-color: #304b82;
   color: #ffffff;
}

/* Feedback styles */
div.error, div.warning, div.feedback, div.highlight
{ 
    font-size: 80%;
    color: #ffa113;
    border-width: 0px;
}
