<?xml version="1.0" encoding="utf-8"?>
<phpunit>
  <filter>
    <blacklist>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezdevtools/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezfind/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezmbpaex/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezmemcachedcluster/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezoe/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezoracle/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/ezprestapiprovider/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/extension/jvamazonadvertising/tests</directory>
      <directory>/Users/lolautruche/workspace/ezsystems/ezpublish/tests</directory>
    </blacklist>
  </filter>
</phpunit>
