body
{
    padding: 0;
    margin: 0;
}

div#background /* Stretching over the the whole area the other DIVs cover, and the areas in between them; visible where no other color is set or any other DIVs cover. */
{
    background-color: #ffffff;
    height: 1%; /* Needed for IE5.5 to stop background color bug */
}

div#header
{
    margin-top: 12px;
    background-color: #fff;
}

div#header div.design
{
    height: 50px;
}

div#logo img
{
    margin-top: 20px;
    margin-left: 20px;
}

div#subheader
{
    background-color: #003d79;
    border-bottom: 1px solid #003d79; /* Padding needs to be set to a value other than 0 to stop a Mozilla color bug. */
}

div#mainmenu
{
    clear: both;
    text-align: right;
    background-color: #fff;
}

div#mainmenu ul
{
    white-space: nowrap;
}

div#mainmenu ul, div#mainmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#mainmenu ul
{
    margin: 0;
}

div#mainmenu li
{
    margin: 0;
/*    background-image: url(../images/blue/tab_corner-top_right.gif); */
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #7dbeff;
    border-left: 1px solid #fff;
}

div#mainmenu a
{
    margin: 0;
    padding: 0 1em 0 1em;
    color: #000000;
    text-decoration: none;
/*    background-image: url(../images/blue/tab_corner-top_left.gif); */
    background-position: top left;
    background-repeat: no-repeat;
}

div#mainmenu a:hover
{
    text-decoration: underline;
}

div#shoppingmenu
{ 
    background-color: #000000;
    border-bottom: #000000;
}

div#shoppingmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#shoppingmenu ul
{
    float: right;
    margin-left: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div#shoppingmenu li
{
    padding-left: 1em;
}

div#shoppingmenu a
{
    padding-left: 1em;
    padding-right: 1em;
    background-image: url(../images/shopping-menu-icon.gif);
    background-position: left;
    background-repeat: no-repeat;
    color: #ffffff;
    text-decoration: none;
}

div#shoppingmenu a:hover
{
    text-decoration: underline;
}

div#searchbox
{
    float: left;
    background-color: #003d79;
    padding: 0.2em 0.2em 0.2em 1em;
}

div#searchbox input.searchtext
{
    font-size: 70%;
    border: 1px solid;
    width: 120px;
}

div#searchbox input.searchbutton
{
    font-size: 65%;
    margin-right: 1em;
}

div#path
{
    padding: 1em 0 0 0;
    margin-bottom: 1em;
}

div#path p
{
    margin: 0;
    font-size: 70%;
}

div#path a
{
    color: #000000;
}

div#maincolumns
{
    background-color: #0070df;
}

div#leftmenu
{
    float: left;
    clear: left;
    width: 150px;
}

div#productmenu div.design, div#latestproducts div.design
{
    margin: 1em 1em 2em 1em;
}

div#productmenu ul, div#latestproducts ul
{
    list-style-type: none;
    margin-left: 0;
}

div#productmenu a, div#latestproducts a
{
    color: #000000;
}

div#productmenu h3
{
    color: #ffffff;
    background-color: #003d79;
    font-weight: bold;
    font-size: 80%;
    padding: 0.2em 0.8em 0.2em 0.8em;
    margin-bottom: 0;
    border-bottom: 1px solid #003d79;
}

div#productmenu ul
{
    margin: 0;
    padding: 0;
    border-bottom: 12px solid #003d79;
}

div#productmenu li
{
    margin: 0;
    padding: 0.2em 0.8em 0.2em 0.8em;
    background-color: #000000;
    color: #003d79;
    border-bottom: 1px solid #003d79;
}

div#productmenu a
{
    color: #003d79;
    text-decoration: none;
}

div#latestproducts div.design
{
    background-color: #d2e9ff;
    padding: 0.5em;
}

div#latestproducts h3
{
    margin-top: 0;
}

div#rightmenu
{
    float: right;
    clear: right;
    width: 8em;
    color: #fff;
}

div#cart div.design, div#infobox div.design, div#latestnews div.design
{
    margin: 1em 1em 1em 0.3em;
    padding-bottom: 1em;
}

div#cart div.design, div#infobox div.design
{
    border-bottom: 2px dotted #aaa;
}

div#cart ul, div#infobox ul, div#latestnews ul
{
    list-style-type: none;
    margin-left: 0;
}

div#cart a, div#infobox a, div#latestnews a
{
    color: #fff;
}

div#cart div.price
{
    text-align: right;
}

div#maincontent
{
    background-color: #ffffff;
    margin: 0 9em 0 153px;
}

div#maincontent div.design
{
    display: table;
    height: 1%;
    position: relative;
    padding: 0 1.5em 1em 1.5em;
    border-right: 2px dotted #cdcdcd;
}

div#footer
{
    clear: both;
}

div#footer div.design
{
    background-color: #000000;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

div#footer address, div#footer a
{
    color: #ffffff;
}

div.editbutton
{ 
   float: right;
}

/* Listmenu items */

#productmenu .level_0
{
    background-color: #7dbeff;
}

#productmenu .level_1
{
    padding-left: 1em;
    background-color: #9dcdff;
}

#productmenu .level_2
{
    padding-left: 1.5em;
    background-color: #b7dbff;
}

#productmenu .level_3
{
    padding-left: 2em;
    background-color: #666666;
}

#productmenu .level_4
{
    padding-left: 2.5em;
    background-color: #888888;
}

#productmenu .level_5
{
    padding-left: 3em;
    background-color: #aaaaaa;
}

#productmenu div.selected a
{
    font-weight: bold;
}

/*--------------------*/

/* Folders */

div.bglight, tr.bglight, td.bglight
{
    background-color: #fffcf0;
}

div.bgdark, tr.bgdark, td.bgdark
{
    background-color: #fffae6;
}

div.subfolders
{
/*
    border-top: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
*/
}

div.subfolders p
{
    margin: 0;
    padding: 0.2em;
}

div.subfolders a
{
    color: #000000;
    font-weight: bold;
}

div.folderdescription
{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

div.readmore a
{
    color: #0070df;
    font-weight: bold;
}

/* Articles */

div.articleline
{
    clear: none;
}

div.articleline h2 a
{
    color: #000000;
    text-decoration: none;
}

div.article div.intro
{
    font-weight: bold;
}

/* Product */

div.productline h2 a
{
    color: #000000;
    text-decoration: none;
}

div.listimage
{
    float: left;
    margin: 0.2em 0.2em 0.2em 0;
}

div.productline
{
    clear: none;
}

div.productnumber p
{
    font-style: italic;
}

div.price p
{
    font-weight: bold;
}

div.product div.controls
{
    margin-top: 1em;
    margin-bottom: 1em;
}

div.relatedorders
{
    padding: 0.5em;
    background-color: #fffcf0;
}

div.relatedorders div.product
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.relatedorders div.product p a
{
    font-weight: bold;
    color: #000000;
}

div.product div.review, div.reviews div.review
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #fffae6;
}

div.review h3
{
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0.2em;
    background-color: #ffcc00;
}

div.rating
{
    margin-top: 0.5em;
}

div.rating p
{
    font-weight: bold;
}

/* */

div#maincontent h1
{
    color: #0070df;
    border-bottom: 1px dotted #003d79;
}

div.productline h2
{
    color: #0070df;
    border-bottom: 1px dotted #aaa;
}

table.list
{
    width: 100%;
}

table.list th
{
    background-color: #eee;
    padding: 0.3em 0.5em 0.3em 0.5em;
    white-space: nowrap;
}

table.list td
{
    padding: 0.3em 0.5em 0.3em 0.5em;
}

div.basket td.product
{
    width: 50%;
}

div.basket td.price
{
    width: 15%;
    white-space: nowrap;
}

div.basket td.amount
{
    width: 10%;
}

div.basket td.totalprice
{
    width: 15%;
    white-space: nowrap;
}

div.basket td.delete
{
    width: 10%;
}

div.basket a
{
    color: #000000;
}

