/* ADMIN2 CONTENT CSS 20100107 */

/* GENERIC */

pre
{
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
}


/* CONTENT */

div.mainobject-window iframe
{
        border: 1px solid #e0e0e0;
}

div#maincontent div.content-translation div.block div.original
{
    background-color: #f5f5f5;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #ddd;
}

div.content-translation div.translation
{
    margin: 0.5em 0 0.5em 0;
}

div.notranslations li
{
    width: 20%;
}

table.list, table.special, table.list th, table.special th
{
    border-collapse: collapse;
}

table.list th, table.special th
{
    font-weight: bold;
    height: 30px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}

table.list label
{
font-weight:normal;
}

table.list th a
{
text-decoration:none;
}

table.list .sort-asc a
{
padding-right:1.5em;
background:url(../images/icons-sprite.png) no-repeat right -270px;
}

table.list .sort-desc a
{
padding-right:1.5em;
background:url(../images/icons-sprite.png) no-repeat right -250px;
}

table.special th
{
    border-top: 1px solid #ccc;
}

table.list tr.bgdark, table.list tr.bgdark th
{
    background-color: #f5f5f5;
}

div.content-navigation-childlist table.list th,
table.list th.icon, table.list td.icon, table.list th.class, table.list td.class, table.list th.checkbox, table.list td.checkbox
{
    width:1%;
}

div.content-navigation-childlist table.list th.name, div.content-edit table.list th.name
{
    width: auto;
}

table.list img
{
    vertical-align: middle;
}

table.list tr.object-cannot-remove td
{
    color: red;
}

table.list td.modifier, table.list td.modified, table.list td.class, div.content-edit table.list td.filesize
{
    white-space: nowrap;
}

div.context-attributes table.list th, div.mainobject-window table.list th
{
    color: #333;
    border-top: 1px solid #CCCCCC;
}

div.list-thumbnails div.list-thumbnails-item
{
    border: 4px solid #ffffff;
    padding: 0.5em;
    vertical-align: middle;
    background-color: #f5f5f5;
    width: 155px;
    height: 155px;
    float: left;
    text-align: center;
    position: relative;
}

div.list-thumbnails div.list-thumbnails-item:hover
{
    background-color: #e8e8e8;
}

div.list-thumbnails-item div.controls
{
    position: absolute;
    bottom: 0;
    width: 155px;
    overflow-x: hidden;
}

div.list-thumbnails-item div.controls input, div.list-thumbnails-item div.controls img
{
    vertical-align: middle;
}

table tbody tr.ezasi-sort-drag-handler
{
    cursor: move;
}


/* DASHBOARD */

#ez-version
{
    font-weight: bold;
}

/* GENERIC DIFF STYLES */

ins
{
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid #00b000;
}

del
{
    color: #d98078;
    text-decoration: line-through;
}

ins:hover, del:hover
{
    background-color: #ffffff;
}

ins:hover
{
    color: #006000;
    border-bottom-width: 0;
}

del:hover
{
    color: #852c25;
    text-decoration: none;
}

div.blockchanges ins, div.blockchanges del
{
    color: #000000;
    padding-left: 0.5em;
    text-decoration: none;
    border-bottom-width: 0;
    display: block;
}

div.blockchanges ins
{
    border-left: 0.5em solid #008000;
}

div.blockchanges del
{
    border-left: 0.5em solid #d98078;
}

div.previous ins
{
    display: none;
}

div.previous del
{
    color: #000000;
    background-color: #ffff00;
    border-bottom-width: 0;
    text-decoration: none     
}

div.latest del
{
    display: none;
}

div.latest ins
{
    color: #000000;
    background-color: #ffff00;
    border-bottom-width: 0;
    text-decoration: none;
}

/* CLASS ATTRIBUTE GROUPING */

fieldset.ezcca-collapsible legend a
{
    text-decoration: none;
    padding-left: 20px;
}

fieldset.ezcca-collapsible.ezcca-collapsed
{
    border-width: 1px 0 0 0;
    height: 1em;
    background-color: #FFF;
}

fieldset.ezcca-collapsible.ezcca-collapsed legend
{
    margin-left: 1px;
}

fieldset.ezcca-collapsible legend a
{
    background: url("../images/2/yui_sprite.png") no-repeat 0 -400px;
}

fieldset.ezcca-collapsible.ezcca-collapsed legend a
{
    background: url("../images/2/yui_sprite.png") no-repeat 0 -350px;
}

/* OBJECTRELATIONLIST */

.ezcca-edit-datatype-ezobjectrelationlist h4, .ezcca-edit-datatype-ezobjectrelation h4
{
    padding-bottom:2px;
    border-bottom: 1px solid #cacaca;
    margin-bottom:1em;
    color:#333;
}
