/* ADMIN2 LAYOUT CSS 20100107 */


/* GENERIC */

div#fix
{
    float: left;
    width: 100%;
}

span.vertical-seperator
{
    height: 100%;
    width: 4px;
    border-right: 1px solid #bbb;
    margin-left: 12px;
    margin-right: 16px;
}

.inline { display: inline; }

label.inline { padding-right: 0.1em; }

#leftmenu a.show-hide-control
{
    display:none;
    float:right;
    margin-top:1.5em;
}

.yui3-js-enabled #leftmenu a.show-hide-control
{
    display:block;
}

a.show-hide-control
{
    float: left;
    text-align: center;
    padding: 3px;
    margin: 10px 0 0 2px;
    height: 9px;
    width: 8px;
    line-height: 7px;
    font-size: 16px;
    text-decoration: none;
}

/* link with image and text (in a span) inside it */
a.image-text
{
    text-decoration: none;
}

a.image-text:hover > span
{
    text-decoration: underline;
}


/* HEADER */

#header-usermenu
{
    float: right;
    text-align: center;
    padding: 1em 10px 0;
}

#header-usermenu a
{
    color: #ddd;
    text-decoration: none;
}

#header-usermenu a:hover { color: #fff; }

#header-usermenu span.header-usermenu-name
{
    display: block;
}

#header-logo a, #header-logo span
{
    float: left;
    width: 108px;
    height: 45px;
    display: block;
    text-align: left;
    text-decoration: none;
    background: transparent url('../images/2/ez-logo-white.png') no-repeat 7px 7px scroll;
}

#header-search
{
    text-align: right;
    float: right;
    padding: 1.4em 5px 0;
    text-align: right;
}


/* TOP MENU (TABS) */

#header-topmenu
{
    padding-left: 2px;
    padding-top: 20px;
    float: left;
    min-height: 25px;
}

#header-topmenu ul, ul.tabs
{
    margin: 0;
}

ul.tabs
{
    width: 100%;
    margin: 0.5em 0 0 0;
}

#header-topmenu ul li, ul.tabs li
{
    float: left;
    text-align: center;
    list-style-type: none;
    margin: 0;
}

#header-topmenu ul li a, #header-topmenu ul li span.disabled, ul.tabs li a, ul.tabs li span.disabled
{
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    margin-left: 1px;
    margin-top: 2px;
    min-width: 95px;
    min-height: 20px;
}

ul.tabs li a, ul.tabs li span.disabled
{
    min-height: 16px;
    min-width: 80px;
}

#header-topmenu ul li.selected a, #header-topmenu ul li a:hover, #header-topmenu ul li.active a,
ul.tabs li.selected a, ul.tabs li a:hover
{
    margin-top: 0;
    min-height: 22px;
    color: #094564;
}

ul.tabs li.selected a, ul.tabs li a:hover
{
    min-height: 18px;
}

#header-topmenu ul li.selected a, #header-topmenu ul li.selected span.disabled, ul.tabs li.selected a
{
    margin-bottom: -1px;
}

#header-topmenu ul li span.disabled, span.disabled, ul.tabs.disabled li a
{
    color: #888;
}

#header-topmenu ul li.first a, #header-topmenu ul li.first span.disabled
{
    margin-left: 0.1em;
}

ul.tabs li.first a, ul.tabs li.first span.disabled
{
    margin-left: 0;
}

div.tab-content
{
    height: 20em;
    overflow-y: scroll;
    padding: 1em;
}

div.tabs-content.disabled div.tab-content
{
    display: none;
}


/* PATH */

#path
{
    padding: 8px 6px 6px 6px;
    text-align: left;
    min-height: 24px;
}

#path p { margin: 0.5em 0 0 0; }

#path span
{
    color: #333;
}



/* COLUMNS */

#columns
{
    background-color: #f5f5f5;
}

#maincolumn
{
    background-color: #fff;
    border-right: 1px #999 solid;
    margin-right: 180px;
}

#maincontent
{
    margin: 0 0 0 15em;
    min-height: 200px;
    padding: 0 1em 1em 1em;
}

#leftmenu
{
    float: left;
    width: 15em;
    overflow: hidden;
    margin-top: 5px;
}

#rightmenu
{ 
    float: right;
    width: 181px;
    overflow-x: hidden;
    margin-top: 5px;
}

div#columns.hide-rightmenu div#rightmenu  { display: none; }
div#columns.hide-rightmenu div#maincolumn { margin-right: 0; }



/* RIGHTMENU */

#rightmenu-design
{
    margin: 3.5em 1em 0 1.5em;
    position: relative;
}

/* This is not supported by IE6, some DOM cleanup is needed to avoid it */
#rightmenu-design > div
{
    margin-top: 0.5em;
    min-width: 12em;
}

#rightmenu-design ul
{
    margin-left: 1.5em;
}

#rightmenu label { font-weight:normal; }



/* LEFTMENU */

#leftmenu-design
{
    margin: 0 1.8em 0 0.8em;
}

#leftmenu-design ul { margin-left: 1.5em; color: #aaa; }
#leftmenu-design div.box-header { margin-top: 0.5em; }

div#leftmenu div.translations label
{
    font-weight: normal;
    white-space: normal;
}

ul.leftmenu-items li a
{
    text-decoration: none;
}

ul.leftmenu-items li a:hover
{
    text-decoration: underline;
}

ul.leftmenu-items li.current a
{
    color: #E24602;
    font-weight: bold;
}

/* WIDTH CONTROL */

#leftmenu.widthcontroled
{
    position: relative;
}

#widthcontrol-handler
{
    position: absolute;
    right: 0;
    top: 1em;
    bottom: 0; /* strech div to full width of relative box */
    width: 7px;
    cursor: e-resize;
    overflow: hidden;
    background: #f8f8f8 url('../images/2/vertical-grippie.png') no-repeat right 30% scroll;
}

#widthcontrol-handler:hover
{
    background-position: left 30%;
    background-color: #eaeaea;
}


/* FOOTER */

#footer
{
    text-align: center;
    padding: 0.8em;
}



/* CONTENTSTRUCTURE TREE MENU STYLES */

div#contentstructure
{
    overflow: hidden;
    padding-top: 0.5em;
}

div#contentstructure ul#content_tree_menu
{
    margin-top: 0;    
    margin-left: 0.25em;
    padding-left: 0.5em;
}

div#contentstructure ul#content_tree_menu ul
{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0;
}

div#contentstructure ul#content_tree_menu ul ul
{
    margin-left: 0;
}

div#contentstructure ul#content_tree_menu li
{
    list-style-type: none;
    white-space: nowrap;
    position: relative;
}

div#contentstructure ul#content_tree_menu ul li
{
    margin: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 4px;
    background-image: url(../images/bg_content_tree_li.png);
    background-repeat: no-repeat;
}

div#contentstructure ul#content_tree_menu ul li.lastli
{
    background-position: left -9990px;
    padding-bottom: 2px;
}

div#contentstructure ul#content_tree_menu li img
{
    vertical-align: middle;
}

div#contentstructure a.nodeicon
{
    margin-left: 0;
    padding-left: 0;
}

div#contentstructure li span.node-name-normal
{
    font-weight: normal;
}

div#contentstructure li.currentnode > a.image-text span.node-name-normal, div#contentstructure li.currentnode > a.image-text span.node-name-hidden, div#contentstructure li.currentnode > a.image-text span.node-name-hiddenbyparent /* Highlighting of current node */
{
    color: #E24602;
    padding: 0 0.25em 0 0.2em;
}

div#contentstructure li a.image-text span.node-name-hidden, div#contentstructure li.currentnode li a.image-text span.node-name-hidden
{
    font-weight: normal;
    font-style: normal;
    background-color: #ddd;
    padding: 0 0.2em 0 0.2em;
}

div#contentstructure li a.image-text span.node-name-hiddenbyparent, div#contentstructure li.currentnode li a.image-text span.node-name-hiddenbyparent
{
    font-weight: normal;
    font-style: normal;
    background-color: #eee;
    padding: 0 0.2em 0 0.2em;
}

div#contentstructure span.node-hidden, div#contentstructure span.node-hiddenbyparent
{
    display: none;
}

a.openclose, span.openclose
{
    text-decoration: none;
}

a.openclose img, span.openclose img
{
    margin: 0;
    cursor: default;
}

div#contentstructure span.openclose
{
    visibility: hidden;
}

div#contentstructure ul#content_tree_menu ul a.openclose-open, div#contentstructure ul#content_tree_menu ul a.openclose-close, div#contentstructure ul#content_tree_menu ul a.openclose-busy, div#contentstructure ul#content_tree_menu ul a.openclose-error
{
    position: absolute;
    left: 0;
    _left: -20px; /* to fix a bug in IE 6 */
    top: 0;
    width: 16px;
    height: 16px;
    background: transparent url( '../images/content_tree-icons.png' ) no-repeat center 0px scroll;
}

div#contentstructure ul#content_tree_menu ul a.openclose-close
{
    background-position: center -16px;
}

div#contentstructure ul#content_tree_menu ul a.openclose-error
{
    background-position: center -32px;
}

div#contentstructure ul#content_tree_menu ul a.openclose-busy
{
    background-position: center -48px;
    cursor: progress;
}

div#contentstructure ul#content_tree_menu div.loaded
{
    display: block;
}

div#contentstructure ul#content_tree_menu div.error
{
    white-space: normal;
    color: grey;
    margin: 10px 0;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div#contentstructure ul#content_tree_menu div.error > span
{
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 9px;
    margin-right: 6px;
    background: Red;
}

div#contentstructure ul#content_tree_menu div.hidden
{
    display: none;
}



/* POPUP MENU */

div.popupmenu
{
    width: 14em;
    font-size: 0.85em;
    margin: 0px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;

    /* These three are essential */
    position: absolute;
    z-index: +1;
    display: none;
}

div.popupmenu div.popupmenuheader
{
    background-color: #fbfbfb;
    border-bottom: 1px solid #bbb;
}

div.popupmenu#EditSubmenu
{
    z-index: +2;
}

div.popupmenu h3
{
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    float: left;
}

div.popupmenu div.window-close
{
    float: right;
    padding: 1px;
}

div.popupmenu div.window-close p
{
    margin: 0;
    color: #000000;
    font-weight: bold;
    background-color: #ecece4;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border: 1px solid #ffffff;
    border-bottom-color: #bfbeb6;
    border-right-color: #bfbeb6;
}

div.popupmenu a
{
    color: #000000;
    padding: 0.1em 0.3em 0.1em 0.3em;
    text-decoration: none;
    cursor: default;
    display: block;
}

div.popupmenu a.more
{
    background-image: url(../images/more-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

div.popupmenu a.menu-item-disabled
{
    color: #CECECE;
}

div.popupmenu a:hover
{
    color: #ffffff;
    background-color: #2d537a;
    text-decoration: none;
    cursor: default;
}

div.popupmenu hr
{
    border: none;
    border-top: 1px solid #c0c0c0;
}



/* BOX MODEL */

.box-content div.context-toolbar.block
{
    padding: 0 0.5em 0 0.5em;
}

.box-content div.block 
{
    padding-bottom: 1em;
}

.box-header
{
    padding: 0.1em 0em 0.1em 0em; /* 0.1 needed to avoid gaps in border */
}

.box-bc .box-ml, .box-ml
{
    padding: 0em;
}

#controlbar-top .box-bc
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#controlbar-top .box-bc .box-ml
{
    margin: 0px 3px 0px 3px;
    padding: 0.5em;
}

#controlbar-top .block
{
    margin:0;
}

h1.context-title
{
    font-size: 1.4em;
}

h2.context-title
{
    font-size: 1.2em;
}

div.context-information, span.classattribute-description
{
    color: #333;
    font-size: 0.8em;
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 1.5em;
}

span.classattribute-description, p.class-description
{
    font-weight: normal;
    white-space: normal;
    min-height: 15px;
}

span.classattribute-description:hover, p.class-description:hover, div.context-information p:hover
{
    color: #111;
}

div.context-information p.left
{
    width: 48.5%;
    float: left;
}

div.context-information p.right
{
    width: 48.5%;
    float: right;
    text-align: right;
}

div.context-information p.center
{
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0.3em 0 0.3em 0;
}


div.content-navigation div.context-information p.left
{
    width: 68%;
}

div.content-navigation div.context-information p.right
{
    width: 30%;
}

div.context-block
{
    margin-bottom: 1.5em;
}

div.context-block h1.context-title img, div.context-block h2.context-title img
{
    vertical-align: middle;
    margin: -4px 8px 2px 0;
}

/* MENU-BLOCK */

.menu-block
{
    padding: 0.5em 0 1em 0;
}

.menu-block ul
{
    margin: 0;
    width: 100%;
}

.menu-block li
{
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.menu-block li a
{
    padding: 0 0.5em;
    margin-left: 4px;
    text-decoration: none;
    display: block;
    border: 1px solid #999;
}

.menu-block li:first-child a
{
    margin-left: 0;
}

.menu-block li.disabled a
{
    background-color: #f3f3f3;
}


/* BUTTONS */

p.versions 
{
    margin: 0 0 0.6em;
    padding: 4px 10px;
}

p.table-preferences
{
    margin: 0 0 1.2em;
}

p.table-preferences .current
{
    padding: 1px 10px;
    font-weight: bold;
}

p.table-preferences a
{
    padding: 1px 10px;
    text-decoration: none;
}

input.button, input.defaultbutton, input.button-disabled
{
    width: auto;
    overflow: visible;
    padding: 0.26em 0.7em;
}

/* SEARCH */

.searchblock
{
    position: relative;
}

#searchtext
{
    height: 18px;
    padding: 4px 20px 0 25px;
}

#searchtext.passive
{
    color: #888;
}

.searchbuttonfield
{
    height: 17px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 17px;
}

.searchbuttonfield:hover
{
    cursor: pointer;
}

.searchscope
{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    left: 6px;
    background-image: url(../images/search-scope.png);
}

.searchscope:hover
{
    cursor: pointer;
}

.searchscope-menu-container .searchscope-pane
{
    display: none;
}

.searchscope-pane
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.31);
    margin-top: 6px;
    position: absolute;
    left: -80px;
    width: 250px;
    z-index: 21;
    text-align: left;
}

.searchscope-pane.active,
.searchscope-menu-container.active .searchscope-pane
{
    display: block;
}

.searchscope-pane,
.searchscope-pane > .searchscope-body
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.searchscope-pane > .searchscope-body
{
    border-top: 1px solid #DDDDDD;
    display: block;
    padding: 8px 10px;
    position: relative;
}

.searchscope-pane > .searchscope-title
{
    font-weight: bold;
    font-size: 12px;
    color: #111111;
    text-shadow: 1px 1px 0 white;
    padding: 8px 10px 5px 10px;
    background: #f5f5f5;
    background: -moz-linear-gradient(#f4f4f4, #f5f5f5);
    background: -webkit-linear-gradient(#f4f4f4, #f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#f5f5f5')";
    border-bottom: 1px solid #f0f3f3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.searchscope-pane .close
{
    display: block;
    float: right;
    margin-right: 8px;
    margin-top: 7px;
    width: 16px;
    height: 16px;
    background: url(../images/close.gif) no-repeat center center;
}

.searchscope-pane .close .mini-icon-remove-close
{
    line-height: 16px;
    height: 16px;
    color: #CCC;
}

/* FIXED CONTROLBAR DEPENDING ON SCROLL */
.yui3-js-enabled .controlbar-fixed
{
    position:fixed;
    width:100%;
    top: -0.6em;
    left:0;
    border-radius:0;
}

.scroll-to-top
{
    position:fixed;
    bottom:0;
    right:0;
    background:#000;
    opacity:0;
    padding:0.5em;
    border-top-left-radius:5px;
    color:#fff;
    text-decoration:none;
    display:none;
}
.yui3-js-enabled .scroll-to-top
{
    display:block;
}
.scroll-to-top:hover
{
color:#fff;
}
