
a:hover { color: green; }


span.vertical-seperator
{
    height: 100%;
    width: 0px;
    border-left: 1px solid #bbb;
    margin-left: 15px;
    margin-right: 15px;
}

.inline { display: inline; }


/* HEADER */
#header
{ 
    border-bottom: 1px solid #bbb;
}

#header-usermenu, #header-logo, #header-search
{
    float: right;
    text-align: right;
    padding: 2px 10px 1px 10px;
    min-height: 25px;
}

#header-logo, #header-search
 {
    background-color: #fff;
    border-bottom: 1px solid #bbb;
 }

#header-logo
{
    border-left: 1px solid #bbb;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius:  5px;
}

#header-usermenu
{
	padding-top: 3px;
	padding-bottom: 0;
}


/* TOP MENU (TABS) */
#header-topmenu
{
    padding-left: 2px;
    padding-top: 6px;
    float: left;
    min-height: 25px;
}

#header-topmenu ul
{
    margin: 0;
}

#header-topmenu ul li
{
    float: left;
    text-align: center;
    list-style-type: none;
    margin: 0;
}

#header-topmenu ul li a, #header-topmenu ul li span.disabled
{
    background-color: #f3f3f3;
    display: block;
    font-weight: bold;
    text-decoration: none;
    min-width: 100px;
    min-height: 20px;
    padding: 2px 6px 2px 6px;
    border: 1px solid #bbb;
    border-left-width: 0;
    border-bottom: 0 none;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

#header-topmenu ul li span.disabled
{
	color: #555;
}

#header-topmenu ul li.selected a
{
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: -1px;
    background-color: #fff;
}

#header-topmenu ul li.selected a, #header-topmenu ul li.first a
{
    border-left-width: 1px;
    padding-left: 5px;
}

#header-topmenu ul li.selected-first a, #header-topmenu ul li.first a
{
    padding-left: 6px;
}

/* PATH */

#path
{
    border-bottom: 1px solid #bbb;
    padding: 2px 10px 3px 10px;
    font-size: 90%;
    text-align: left;
}

#path p { margin: 0; }

/* COLUMNS */

#leftmenu
{
	float: left;
	width: 13em;
	overflow: hidden;
}

#leftmenu-design
{
	margin: 0 0.1em 0 0.5em;
}

#leftmenu-design div.box-header { margin-top: 0.5em; }

#rightmenu
{ 
    float: right;
    width: 13em;
    overflow-x: hidden;
}

#rightmenu-design
{
    margin: 0 0.5em 0 0.1em;
    position: relative;
}

/* This is not supported by IE6, some DOM cleanup is needed to avoid it */
#rightmenu-design > div
{
	margin-top: 0.5em;
	min-width: 12em;
}

#rightmenu-design ul, #leftmenu-design ul { margin-left: 1.5em; color: #aaa; }


#maincontent
{
    margin: 0 13em 0 13em;
    min-height: 200px;
    padding: 0 1em 1em 1em;
}

#maincontent div.box-header { margin-top: 0.5em; }


/* CONTENTSTRUCTURE TREE MENU STYLES */

div#contentstructure
{
    overflow-x: auto;
    padding-top: 0.5em;
}

div#contentstructure ul#content_tree_menu
{
    margin-top: 0;    
    margin-left: 0.25em;
    padding-left: 0.5em;
}

div#contentstructure ul#content_tree_menu ul
{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0;
}

div#contentstructure ul#content_tree_menu ul ul
{
    margin-left: 0;
}

div#contentstructure ul#content_tree_menu li
{
    list-style-type: none;
    white-space: nowrap;
    position: relative;
}

div#contentstructure ul#content_tree_menu ul li
{
    margin: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 4px;
    background-image: url(../images/bg_content_tree_li.gif);
    background-repeat: no-repeat;
}

div#contentstructure ul#content_tree_menu ul li.lastli
{
    background-image: url(../images/bg_content_tree_li_last.gif);
    padding-bottom: 2px;
}

div#contentstructure ul#content_tree_menu li img
{
    vertical-align: middle;
}

div#contentstructure a.nodeicon
{
    margin-left: 0;
    padding-left: 0;
}

div#contentstructure a.nodetext
{
    color: #315578;
    text-decoration: none;
}

div#contentstructure a.nodetext:hover
{
    color: #000000;
    text-decoration: underline;
}

div#contentstructure li.currentnode a.nodetext:hover
{
    text-decoration: none;
}

div#contentstructure li.currentnode li a.nodetext:hover
{
    color: #000000;
    text-decoration: underline;
}

div#contentstructure li span.node-name-normal
{
    font-weight: normal;
}

div#contentstructure li.currentnode a.nodetext span.node-name-normal, div#contentstructure li.currentnode a.nodetext span.node-name-hidden, div#contentstructure li.currentnode a.nodetext span.node-name-hiddenbyparent /* Highlighting of current node */
{
    font-weight: bold;
    padding: 0 0.25em 0 0.2em;
}

div#contentstructure li.currentnode li a.nodetext span.node-name-normal, div#contentstructure li.currentnode li a.nodetext span.node-name-hidden, div#contentstructure li.currentnode li a.nodetext span.node-name-hiddenbyparent
{
    font-weight: normal;
    color: #315578;
    background-color: transparent;
    padding: 0;
}

div#contentstructure li a.nodetext span.node-name-hidden, div#contentstructure li.currentnode li a.nodetext span.node-name-hidden
{
    font-weight: normal;
    font-style: normal;
    background-color: #e0e0c9;
    padding: 0 0.2em 0 0.2em;
}

div#contentstructure li a.nodetext span.node-name-hiddenbyparent, div#contentstructure li.currentnode li a.nodetext span.node-name-hiddenbyparent
{
    font-weight: normal;
    font-style: normal;
    background-color: #eff0e4;
    padding: 0 0.2em 0 0.2em;
}

div#contentstructure span.node-hidden, div#contentstructure span.node-hiddenbyparent
{
    display: none;
}

a.openclose, span.openclose
{
    text-decoration: none;
}

a.openclose img, span.openclose img
{
    margin: 0;
    cursor: default;
}

div#contentstructure a.openclose, div#contentstructure span.openclose
{
    color: #315578;
}

div#contentstructure span.openclose
{
    visibility: hidden;
}

div#contentstructure ul#content_tree_menu ul a.openclose-open, div#contentstructure ul#content_tree_menu ul a.openclose-close, div#contentstructure ul#content_tree_menu ul a.openclose-busy, div#contentstructure ul#content_tree_menu ul a.openclose-error
{
    position: absolute;
    left: 0;
    _left: -20px; /* to fix a bug in IE 6 */
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url( '../images/content_tree-open.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

div#contentstructure ul#content_tree_menu ul a.openclose-close
{
    background-image: url( '../images/content_tree-close.gif' );
}

div#contentstructure ul#content_tree_menu ul a.openclose-busy
{
    background-image: url( '../images/content_tree-busy.gif' );
    cursor: progress;
}

div#contentstructure ul#content_tree_menu ul a.openclose-error
{
    background-image: url( '../images/content_tree-error.gif' );
}

div#contentstructure ul#content_tree_menu div.loaded
{
    display: block;
}

div#contentstructure ul#content_tree_menu div.hidden
{
    display: none;
}


/* FOOTER */

#footer
{
	border-top: 1px solid #bbb;
	background-color: #f3f3f3;
	text-align: center;
}

/* GENERIC */

pre
{
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
}

div#fix
{
    float: left;
    width: 100%;
}


/* BOX MODEL */

.box-header
{
	border: 1px solid #bbb;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

.box-bc
{
    border: 1px solid #bbb;
    border-top-width: 0;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}

.controlbar .box-bc
{
    background-color: #fbfbfb;
}

.controlbar .box-bc .box-ml
{
    border-top: 1px solid #ddd;
}

.box-ml
{
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 1em;
}

.box-bc .box-ml, .box-header .box-ml
{
    border: 0 none;
    padding: 0.1em 0.5em 0.1em 0.5em; /* 0.1 needed to avoid gaps in border */
}


/* MENU-BLOCK (buttons for node info) */

.menu-block ul
{
    width: 100%;
    margin: 0.5em 0 0 0;
}

.menu-block li
{
	float: left;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 16.6666%;
}

.context-user .menu-block li
{
    width: 14.285%;
}

.menu-block li a
{
    margin-left: 1px;
    text-decoration: none;
    display: block;
    border: 1px solid #aaa;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.menu-block li:first-child a
{
    margin-left: 0;
}

.menu-block li.disabled a
{
    background-color:#f3f3f3;
}


/* WIDTH CONTROL */
.widthcontroled .box-bc
{
	background-image: url('../images/2/chrome_expand_corner.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
	position: relative;
}

.widthcontrol.js-widthcontroled
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 11px;
	height: 11px;
	cursor: e-resize;
	overflow: hidden;
}

.widthcontrol.js-widthcontroled p
{
	display: none;
}

#rightmenu-showhide
{
    position: absolute;
    width: 95%;
    height: 14px;
    text-align: left;
    top: 0;
    left: 0;
    text-decoration: none;
    padding: 2px;
}

/* CONTENT */

table.list tr.bgdark
{
    background-color: #f5f5f5;
}

table.list tr th
{
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}

table.list tr:hover
{
    background-color: #dfdfdf;
}



/* GENERIC DIFF STYLES */
ins
{
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid #00b000;
}

del
{
    color: #d98078;
    text-decoration: line-through;
}

ins:hover, del:hover
{
    background-color: #ffffff;
}

ins:hover
{
    color: #006000;
    border-bottom: none;
}

del:hover
{
    color: #852c25;
    text-decoration: none;
}

div.blockchanges ins, div.blockchanges del
{
    color: #000000;
    padding-left: 0.5em;
    text-decoration: none;
    border-bottom: none;
    display: block;
}

div.blockchanges ins
{
    border-left: 0.5em solid #008000;
}

div.blockchanges del
{
    border-left: 0.5em solid #d98078;
}

div.previous ins
{
    display: none;
}

div.previous del
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none   
}

div.latest del
{
    display: none;
}

div.latest ins
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none;
}