/*
  site.css styles for admin design
*/


/* Some misc unsrted styles */
span.vertical-seperator
{
    height: 100%;
    width: 4px;
    border-right: 1px solid #bbb;
    margin-left: 12px;
    margin-right: 16px;
}

.inline { display: inline; }

a.show-hide-control, span.show-hide-control
{
    float: right;
    text-align: center;
    padding: 2px;
    margin: 2px;
    height: 9px;
    width: 8px;
    line-height: 7px;
    font-size: 12px;
    color: #555;
    background-color: white;
    text-decoration: none;
    border: 1px solid #bbb;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

span.show-hide-control.disabled
{
    border-color: #ddd;
    color: #999;
}

a#rightmenu-showhide.show-hide-control
{
    float: left;
}

a.imageTextLink
{
    text-decoration: none;
}

a.imageTextLink:hover span
{
    text-decoration: underline;
}

div.box-content div.block
{
    margin: 0;
    padding: 0.5em;
}

div.box-content div.context-toolbar.block
{
    padding: 0 0.5em 0 0.5em;
}

div.context-information
{
    margin: 0 1px 0 1px;
    padding: 0 0.5em 0 0.5em;
}

div.context-information p.modified
{
    width: 48%;
    float: left;
}

div.context-information p.translation
{
    width: 48%;
    float: right;
    text-align: right;
}

/* FULL EDIT VIEW */
#page.main-column-only #header, #page.main-column-only #path,
#page.main-column-only #leftmenu, #page.main-column-only #rightmenu,
#page.main-column-only #footer, #page.main-column-only #debug
{
    display: none;
}

div#page.main-column-only div#maincontent
{
	margin: 0;
}

div#page.main-column-only #controlbar-top
{
    position: fixed;
    min-width: 49%;
    right: 0;
    top: 0;
}

a.controlbar-top-full-screen-toggle
{
	height: 16px;
	width: 16px;
	display: block;
	text-decoration: none;
    background-image: url('../images/2/view-fullscreen.png');
    background-repeat: no-repeat;
    background-position: left top;
}

div#page.main-column-only a.controlbar-top-full-screen-toggle
{
    background-image: url('../images/2/emblem-unreadable.png');
}

/* HEADER */
#header
{ 
    border-bottom: 1px solid #bbb;
}

#header-usermenu, #header-logo, #header-search
{
    float: right;
    text-align: right;
    padding: 2px 10px 1px 10px;
    min-height: 25px;
}

#header-logo, #header-search
 {
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    background-image: url('../images/2/ez-logo-bg.png');
    background-repeat: repeat-x;
    background-position: left 2px;;
 }

#header-logo
{
    border-left: 1px solid #bbb;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius:  5px;
}

#header-logo a, #header-logo span
{
    display: block;
    background-image: url('../images/2/ez-logo.png');
    background-repeat: no-repeat;
    background-position: left -1px;;
    width: 74px;
    height: 25px;
    text-decoration: none;
}

#header-logo span
{
    background-image: url('../images/2/ez-logo-faded.png');
}

#header-usermenu
{
    padding-top: 3px;
    padding-bottom: 0;
}


/* TOP MENU (TABS) */
#header-topmenu
{
    padding-left: 2px;
    padding-top: 6px;
    float: left;
    min-height: 25px;
}

#header-topmenu ul
{
    margin: 0;
}

#header-topmenu ul li
{
    float: left;
    text-align: center;
    list-style-type: none;
    margin: 0;
}

#header-topmenu ul li a, #header-topmenu ul li span.disabled
{
    background-color: #f3f3f3;
    display: block;
    font-weight: bold;
    text-decoration: none;
    min-width: 100px;
    min-height: 20px;
    padding: 2px 6px 2px 6px;
    border: 1px solid #bbb;
    border-left-width: 0;
    border-bottom: 0 none;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

#header-topmenu ul li span.disabled, span.disabled
{
    color: #555;
}

#header-topmenu ul li.selected a
{
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: -1px;
    background-color: #fff;
}

#header-topmenu ul li.selected a
{
    border-left-width: 1px;
    padding-left: 5px;
}

#header-topmenu ul li.first a
{
    border-left-width: 1px;
    padding-left: 6px;
}

/* PATH */

#path
{
    border-bottom: 1px solid #bbb;
    padding: 2px 10px 3px 10px;
    font-size: 90%;
    text-align: left;
}

#path p { margin: 0; }

/* COLUMNS */

#leftmenu
{
    float: left;
    width: 15em;
    overflow: hidden;
}

#leftmenu-design
{
    margin: 0 0.1em 0 0.5em;
}

#leftmenu-design div.box-header { margin-top: 0.5em; }

#rightmenu
{ 
    float: right;
    width: 13em;
    overflow-x: hidden;
}

#rightmenu-design
{
    margin: 0 0.5em 0 0.1em;
    position: relative;
}

/* This is not supported by IE6, some DOM cleanup is needed to avoid it */
#rightmenu-design > div
{
    margin-top: 0.5em;
    min-width: 12em;
}

#rightmenu-design ul, #leftmenu-design ul { margin-left: 1.5em; color: #aaa; }


#maincontent
{
    margin: 0 13em 0 15em;
    min-height: 200px;
    padding: 0 1em 1em 1em;
}

#maincontent div.box-header { margin-top: 0.5em; }

#maincontent div.box-header div.block div.right { padding-top: 1.3em; }


/* LEFTMENU */

div#leftmenu div.translations label
{
    font-weight: normal;
    white-space: normal;
}

ul.leftmenu-items li a
{
	text-decoration: none;
}

ul.leftmenu-items li a:hover
{
    text-decoration: unerline;
}

ul.leftmenu-items li.current a
{
    color: green;
    font-weight: bold;
}


/* CONTENTSTRUCTURE TREE MENU STYLES */

div#contentstructure
{
    overflow-x: auto;
    padding-top: 0.5em;
}

div#contentstructure ul#content_tree_menu
{
    margin-top: 0;    
    margin-left: 0.25em;
    padding-left: 0.5em;
}

div#contentstructure ul#content_tree_menu ul
{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0;
}

div#contentstructure ul#content_tree_menu ul ul
{
    margin-left: 0;
}

div#contentstructure ul#content_tree_menu li
{
    list-style-type: none;
    white-space: nowrap;
    position: relative;
}

div#contentstructure ul#content_tree_menu ul li
{
    margin: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 4px;
    background-image: url(../images/bg_content_tree_li.gif);
    background-repeat: no-repeat;
}

div#contentstructure ul#content_tree_menu ul li.lastli
{
    background-image: url(../images/bg_content_tree_li_last.gif);
    padding-bottom: 2px;
}

div#contentstructure ul#content_tree_menu li img
{
    vertical-align: middle;
}

div#contentstructure a.nodeicon
{
    margin-left: 0;
    padding-left: 0;
}

div#contentstructure li.currentnode a.imageTextLink:hover
{
    text-decoration: none;
}

div#contentstructure li.currentnode li a.imageTextLink:hover span
{
    text-decoration: underline;
}

div#contentstructure li span.node-name-normal
{
    font-weight: normal;
}

div#contentstructure li.currentnode a.imageTextLink span.node-name-normal, div#contentstructure li.currentnode a.imageTextLink span.node-name-hidden, div#contentstructure li.currentnode a.imageTextLink span.node-name-hiddenbyparent /* Highlighting of current node */
{
    color: green;
    font-weight: bold;
    padding: 0 0.25em 0 0.2em;
}

div#contentstructure li.currentnode li a.imageTextLink span.node-name-normal, div#contentstructure li.currentnode li a.imageTextLink span.node-name-hidden, div#contentstructure li.currentnode li a.imageTextLink span.node-name-hiddenbyparent
{
    color: #195f98;
    font-weight: normal;
    background-color: transparent;
    padding: 0;
}

div#contentstructure li a.imageTextLink span.node-name-hidden, div#contentstructure li.currentnode li a.imageTextLink span.node-name-hidden
{
    font-weight: normal;
    font-style: normal;
    background-color: #e0e0c9;
    padding: 0 0.2em 0 0.2em;
}

div#contentstructure li a.imageTextLink span.node-name-hiddenbyparent, div#contentstructure li.currentnode li a.imageTextLink span.node-name-hiddenbyparent
{
    font-weight: normal;
    font-style: normal;
    background-color: #eff0e4;
    padding: 0 0.2em 0 0.2em;
}

div#contentstructure span.node-hidden, div#contentstructure span.node-hiddenbyparent
{
    display: none;
}

a.openclose, span.openclose
{
    text-decoration: none;
}

a.openclose img, span.openclose img
{
    margin: 0;
    cursor: default;
}

div#contentstructure span.openclose
{
    visibility: hidden;
}

div#contentstructure ul#content_tree_menu ul a.openclose-open, div#contentstructure ul#content_tree_menu ul a.openclose-close, div#contentstructure ul#content_tree_menu ul a.openclose-busy, div#contentstructure ul#content_tree_menu ul a.openclose-error
{
    position: absolute;
    left: 0;
    _left: -20px; /* to fix a bug in IE 6 */
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url( '../images/content_tree-open.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

div#contentstructure ul#content_tree_menu ul a.openclose-close
{
    background-image: url( '../images/content_tree-close.gif' );
}

div#contentstructure ul#content_tree_menu ul a.openclose-busy
{
    background-image: url( '../images/content_tree-busy.gif' );
    cursor: progress;
}

div#contentstructure ul#content_tree_menu ul a.openclose-error
{
    background-image: url( '../images/content_tree-error.gif' );
}

div#contentstructure ul#content_tree_menu div.loaded
{
    display: block;
}

div#contentstructure ul#content_tree_menu div.hidden
{
    display: none;
}


/* POPUP MENU */

div.popupmenu
{
    width: 14em;
    font-size: 0.85em;
    margin: 0px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;

    /* These three are essential */
    position: absolute;
    z-index: +1;
    display: none;
}

div.popupmenu#EditSubmenu
{
    z-index: +2;
}

div.popupmenu div.popupmenuheader
{
    background-color: #fbfbfb;
    border-bottom: 1px solid #bbb;
}

div.popupmenu h3
{
    margin: 0;
    padding: 0.2em 0.5em 0.2em 0.5em;
    float: left;
}

div.popupmenu div.window-close
{
    float: right;
    padding: 1px;
}

div.popupmenu div.window-close p
{
    font-weight: bold;
    color: #000000;
    background-color: #ecece4;
    margin: 0;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border: 1px solid #ffffff;
    border-bottom-color: #bfbeb6;
    border-right-color: #bfbeb6;
}

div.popupmenu a
{
    color: #000000;
    padding: 0.1em 0.3em 0.1em 0.3em;
    text-decoration: none;
    cursor: default;
    display: block;
}

div.popupmenu a.more
{
    background-image: url(../images/more-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

div.popupmenu a.menu-item-disabled
{
    color: #CECECE;
}

div.popupmenu a:hover
{
    color: #ffffff;
    background-color: #2d537a;
    text-decoration: none;
    cursor: default;
}

div.popupmenu hr
{
    border: none;
    border-top: 1px solid #c0c0c0;
}


/* FOOTER */

#footer
{
    border-top: 1px solid #bbb;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.8em;
}

/* GENERIC */

pre
{
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
}

div#fix
{
    float: left;
    width: 100%;
}


/* BOX MODEL */

.box-header
{
    background-color: #fbfbfb;
    border: 1px solid #bbb;
    border-bottom-width: 0;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}

.box-header .box-tc
{
    border-bottom: 1px solid #ddd;
}

.box-header .block
{
    margin: 0;
}

.box-bc
{
    border: 1px solid #bbb;
    border-top-width: 0;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}

.controlbar .box-bc
{
    background-color: #fbfbfb;
}

.controlbar .box-bc .box-ml
{
    border-top: 1px solid #ddd;
}

#controlbar-top .box-bc .box-ml
{
	border-top: 0 none;
}

.box-ml
{
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    padding: 0.2em;
}

.box-bc .box-ml, .box-header .box-ml
{
    border: 0 none;
    padding: 0.1em 0.5em 0.1em 0.5em; /* 0.1 needed to avoid gaps in border */
}

h1.context-title
{
    font-size: 1.2em;
}

h2.context-title
{
    font-size: 1em;
}

div.context-information
{
    color: #777;
    font-size: 0.8em;
}

div.context-block
{
    margin-bottom: 1.2em;
}

div.context-block h1.context-title img, div.context-block h2.context-title img
{
    vertical-align:middle;
}


/* MENU-BLOCK (buttons for node info) */

.menu-block ul
{
    width: 100%;
    margin: 0.5em 0 0 0;
}

.menu-block li
{
    float: left;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 16.6666%;
}

.context-user .menu-block li
{
    width: 14.285%;
}

.menu-block li a
{
    margin-left: 1px;
    text-decoration: none;
    display: block;
    border: 1px solid #aaa;
    /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.menu-block li:first-child a
{
    margin-left: 0;
}

.menu-block li.disabled a
{
    background-color:#f3f3f3;
}


/* WIDTH CONTROL */
.widthcontroled .box-bc
{
    background-image: url('../images/2/chrome_expand_corner.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
}

.widthcontrol.js-widthcontroled
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 11px;
    height: 11px;
    cursor: e-resize;
    overflow: hidden;
}

.widthcontrol.js-widthcontroled p
{
    display: none;
}


/* CONTENT */

div.mainobject-window
{
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #dfdfdf;
    padding: 0.5em;
    background-color: #fdfdfd;
}

div.content-navigation div.mainobject-window div.holdinplace
{
    padding-right: 0.5em;
}

div#maincontent div.content-translation div.block div.original
{
    background-color: #f5f5f5;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
    border: 1px dashed #ddd;
}

div.content-translation div.translation
{
    margin: 0.5em 0 0.5em 0;
}

div.notranslations li
{
    width: 20%;
}

table.list, table.special, table.list th, table.special th
{
    border: 1px solid #fdfdfd;
    border-collapse: collapse;
}

table.list tr th
{
    background-color: #fff;
}

table.special tr th
{
    background-color: #dfdfdf;
}

table.list tr.bgdark, table.list tr.bgdark th
{
    background-color: #f5f5f5;
}

table.list tr:hover, table.list tr:hover th
{
    background-color: #dfdfdf;
}

div.content-navigation-childlist table.list th
{
    width:1%;
}

div.content-navigation-childlist table.list th.name, div.content-edit table.list th.name
{
    width: auto;
}


/* SUBITEMS CONTEXT MENU */

table.context-enabled tr td.context-menu
{
    width: 2.6em;
    padding: 1px;
    padding-bottom: 0;
    padding-left: 0;
    height: 24px;
}

div.content-navigation-childlist table.context-enabled th.context-header
{
    width: 2.6em;
    padding-right: 1px;
}


table.context-enabled tr:hover td.context-menu div.context-menu-root
{
    display: block;
    position: relative;
    height: 24px;
    width: 2.6em;
    text-align: right;
    background-image: url('../images/2/context_menu_hover_arrow.png');
    background-repeat: no-repeat;
    background-position: center 9px;
}

table.context-enabled td.context-menu div.context-menu-root:hover
{
    background-color: #f5f5f5;
}

div.context-menu-root:hover > ul.context-menu-box,
li.context-menu-container:hover > div.context-menu-subitems
{
    display: block;
}

div.context-menu-root ul.context-menu-box
{
    padding: 0;
    margin: 0;
    width: 10em;
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    -moz-box-shadow: 4px 4px 4px #eaeaea;
    -webkit-box-shadow: 4px 4px 4px #eaeaea;
    box-shadow: 4px 4px 4px #eaeaea;
}

div.context-menu-root > ul.context-menu-box
{
    position: absolute;
    z-index: 100;
    top: 100%;
    right: -1px;
    border-top: 0 none;
}
/* div.context-menu-subitems is a wrapper to add some air around sub menu to
   make it less likely that you lose focus for moving cursor slightly off the menu 
 */
div.context-menu-root ul.context-menu-box div.context-menu-subitems
{
    position: absolute;
    z-index: 100;
    top: -15px;
    right: 100%;
    padding: 14px 0 10px 10px;
}

div.context-menu-root ul.context-menu-box li
{
    list-style-type: none;
    padding: 0.3em 0.2em 0.3em 1.2em;
    border: 1px solid #f5f5f5;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0;
}

div.context-menu-root ul.context-menu-box li.context-menu-container
{
    position: relative;
    background-image: url('../images/2/more-arrow.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

div.context-menu-root ul.context-menu-box li.context-menu-container:hover
{
    border-color: #dfdfdf;
}


/* GENERIC DIFF STYLES */

ins
{
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid #00b000;
}

del
{
    color: #d98078;
    text-decoration: line-through;
}

ins:hover, del:hover
{
    background-color: #ffffff;
}

ins:hover
{
    color: #006000;
    border-bottom: none;
}

del:hover
{
    color: #852c25;
    text-decoration: none;
}

div.blockchanges ins, div.blockchanges del
{
    color: #000000;
    padding-left: 0.5em;
    text-decoration: none;
    border-bottom: none;
    display: block;
}

div.blockchanges ins
{
    border-left: 0.5em solid #008000;
}

div.blockchanges del
{
    border-left: 0.5em solid #d98078;
}

div.previous ins
{
    display: none;
}

div.previous del
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none   
}

div.latest del
{
    display: none;
}

div.latest ins
{
    color: #000000;
    background-color: #ffff00;
    border-bottom: none;
    text-decoration: none;
}