h1
{
    font-size: 120%;
}

h2
{
    font-size: 110%;
}

h3
{
    font-size: 80%;
}

a
{
    color: #000000;
    text-decoration: none;
}

a:hover
{
    color: #000000;
    text-decoration: underline;
}

.links {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
}
.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #000000;


}
