/* SITE CSS 20040217 */

body
{
    background-color: #6699cc;
}

div#allcontent
{
    background-color: #fff;
    width: 750px;
}

div#header
{
   float: left;
}

div#header-design
{
   width: 400px;
  
}

div#header h1
{
    font-size: 2em;
    font-style: italic;
    margin: 0;
    height: 70px;

    padding-left: 85px;
    background-repeat: no-repeat;
    white-space: nowrap;
    background-image: url(../images/t1/ezpublish-logo.gif);
    white-space: nowrap;
}

div#toolbar-top
{ 
    /*border: 1px solid #333;*/
    height: 70px;
    padding: 13px 0 8px 8px;
    text-align: right;
}


div#toolbar-design
{
}

div#toolbar-top div.toolbar-item
{
    border-right: 1.5px solid #339999;
    font-size: 9pt;
    display: inline;
    color: #339999;
    font-weight: bold;
    padding: 0 8px 0 8px;
}

div#toolbar-top div.toolbar-item a
{ 
    color: #339999;
}

div#toolbar-top div.toolbar-item.first
{
    display: inline;
}

div#toolbar-top div.toolbar-item.last
{
    border-right: none;
    display: inline;
}

div#toolbar-bottom
{
    background-color: #d9e5f2;
    height: 22px;
    padding: 0;
    text-align: center;
}

div#toolbar-bottom div.toolbar-item
{
    border-right: 1.5px solid #003366;
    font-size: 9pt;
    display: inline;
    color: #003366;
    font-weight: bold;
    padding: 0 8px 0 8px;
}

div#toolbar-bottom div.toolbar-item a
{ 
    color: #003399;
}

div#toolbar-bottom div.toolbar-item.first
{
    display: inline;
}

div#toolbar-bottom div.toolbar-item.last
{
    border-right: none;
    display: inline;
}

div#sep
{ 
   clear: both;
}

div#topmenu
{
}

div#topmenu-design
{
    height: 22px;
    text-align: left;
    vertical-align: middle;
}

div#topmenu ul
{
    height: 22px;
    background-color: #336699;

    margin: 0 0 0 0;
    padding: 0;
}

div#topmenu li, div#topmenu li div
{
    display: inline;
}

div#topmenu li
{
}

div#topmenu li a
{
    color: #fff;
    font-size: 9pt;
    padding: 0 0.5em 0 0.5em; /* This padding must be set on a-level, not li-level, to work correctly in konqueror */
    text-decoration: none;
}

div#submenu ul
{
    height: 22px;
    background-color: #7b92bc;
    margin: 0 0 0 0;
    padding: 0;
}

div#submenu li, div#submenu li div
{
    display: inline;
}

div#submenu li a
{
    font-size: 9pt;
    color: #fff;
    padding: 0 0.5em 0 0.5em; /* This padding must be set on a-level, not li-level, to work correctly in konqueror */
    text-decoration: none;
}

div#path
{
}

div#path-design
{
  margin: 3px 3px 3px 6px;
}

div#path p
{
    color: #6699cc;
    font-size: 9pt;
    margin: 0;
}

div#path p a
{
    color: #6699cc;
    text-decoration: none;
}

div#columns
{
    height: 100%; /* Needs to be set to 1% to avoid bug in IE 5.5 */
}

div#leftmenu ul, div#rightmenu ul
{
    margin-left: 1.5em;
}

div#leftmenu
{
    float: left;
    width: 10em;
}

div#leftmenu-design
{
}

div#rightmenu 
{
    float: right;
}

div#rightmenu-design
{
    margin-right: 6px;
    width: 178px;
}

div#maincontent
{
    margin-left: 11em;
    margin-right: 184px;
    height: 100%; /* Needs to be set to 1% to avoid bug in IE 5.5 */
}

/* Toolbar design */
div.toolbox
{ 
    margin-bottom: 8px;
    margin-top: 8px;
}

div.toolbox-design
{ 
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #d9e5f2;
}

div.toolbox-design h2
{ 
    width: 100%;
    position: relative;
    left: -10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font: 12px regular;
    background-color: #336699;
    color: #fff;
}

/* Tool list design */
div.toollist
{ 
    margin-bottom: 8px;
    margin-top: 8px;
}

div.toollist-design
{ 
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid #369;
}

div.toollist-design h2
{ 
    width: 100%;
    position: relative;
    left: -10px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 3px;
    font: 12px regular;
    background-color: #336699;
    color: #fff;
}

div.toollist-design h3
{ 
    font: 9pt regular underline;
    color: #369;
    margin: 0px;
}

div.toollist-design div.class-article div.content-short p
{ 
    margin: 0px;
    font: 9pt regular;
    color: #666;
}

div.toollist-design div.class-article div.content-link p
{ 
    margin-top: 0px;
    margin-bottom: 10px;
    font: 9pt regular;
    color: #369;
}


div#fix /* This style breaks the unwanted connection between the content of the maincontent box and the menues on the left and right in some browsers */
{
    float: left;
    width: 100%;
}

/* Footer */
div#footer
{ 
    clear: both;
}


/* COMMON STYLES SET JUST AS AN EXAMPLE */
/* Border and padding is set on these elements inside another positioned elements to avoid wrong width calculations in the parents in some browsers */
div#leftmenu-design, div#footer-design 
{
    background-color: #ffffff;
    margin: 1em 0 0 0;
    padding: 0.5em;
    border: 1px dashed #a0a0a0;
    overflow: visible;
}

div#header-design
{
    margin: 0;
}

/* Common content styles */
div#maincontent-design
{
    padding-right: 22px;
    padding-left: 22px;
}

div#maincontent-design h1
{ 
    font: 18pt bold;
    color: #039;
    margin-bottom: 0px;
}

/*
div#maincontent-design h2
{ 
    font: 13pt bold;
    color: #099;
    margin-bottom: 0px;
    margin-top: 0px;
}
*/

div#maincontent-design div.class-article div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: bold;
    color: #036;
}

div#maincontent-design div.content-long p
{ 
    font: 9pt regular;
    color: #036;
}

div.content-byline p.author
{
    font: 9pt;
    color: #036;
}

div.content-byline p.date
{
    font: 9pt;
    color: #036;
}


div.content-file
{ 

}

/* Special formatting in XML fields */
div.factbox-design
{ 
    padding-right: 6px;
    padding-left: 6px;
    float: right;
    width: 178px;
    background-color: #fff;
    border: 1px solid #369;
}

div.factbox-design h2
{ 
    width: 100%;
    position: relative;
    left: -10px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 3px;
    font: 12px regular;
    background-color: #336699;
    color: #fff;
}

div.factbox h3
{ 
    font: 9pt regular;
    color: #369;
    margin: 0px;
}

div.factbox div.content-file p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
    color: #036;
}



/* list item styles  */
div.view-listitem h3
{ 
    margin-top: 6px;
}

div.view-listitem div.class-image div.content-image p
{ 
    padding: 0px;
    margin: 0px;
}

div.view-listitem div.class-image div.content-caption p
{ 
    font: 9pt regular;
    padding: 0px;
    margin: 0px;
    color: #666;
}