/* SITE CSS 20040217 */

body
{
    background-color: #6699cc;
}

a
{ 
    color: #369;

}
div#allcontent
{
    background-color: #fff;
    width: 750px;
   margin: 0 auto 0 auto;
}

div#header
{
   float: left;
}

div#header-design
{
   width: 400px;
  
}

div#header h1
{
    font-size: 2em;
    font-style: italic;
    margin: 0;
    height: 70px;

    padding-left: 85px;
    background-repeat: no-repeat;
    white-space: nowrap;
    background-image: url(../images/t1/t1-logo-placeholder.gif);
    white-space: nowrap;
}

div#toolbar-top
{ 
    /*border: 1px solid #333;*/
    height: 70px;
    padding: 13px 0 8px 8px;
    text-align: right;
}


div#toolbar-design
{
    padding: 0;
    margin: 0;
}

div#toolbar-top div.toolbar-item input.searchinput
{
    height: 20px;
}

div#toolbar-top div.toolbar-item
{
    border-right: 1.5px solid #339999;
    font-size: 9pt;
    display: inline;
    color: #339999;
    font-weight: bold;
    padding: 0 8px 0 8px;
}

div#toolbar-top div.toolbar-item a
{ 
    color: #339999;
}

div#toolbar-top div.toolbar-item.first
{
    display: inline;
}

div#toolbar-top div.toolbar-item.last
{
    border-right: none;
    display: inline;
}

div#toolbar-bottom
{
    background-color: #d9e5f2;
    height: 22px;
    padding: 0;
    text-align: center;
}

div#toolbar-bottom div.toolbar-item
{
    border-right: 1.5px solid #003366;
    font-size: 9pt;
    display: inline;
    color: #003366;
    font-weight: bold;
    padding: 0 12px 0 8px;
}

div#toolbar-bottom div.toolbar-item a
{ 
    color: #003399;
}

div#toolbar-bottom div.toolbar-item.first
{
    display: inline;
}

div#toolbar-bottom div.toolbar-item.last
{
    border-right: none;
    display: inline;
}

div#sep
{ 
   clear: both;
}

/* Top menu */
div#topmenu
{
    padding: 0;
    margin: 0;
}

div#topmenu-design
{
    background-color: #336699;
    height: 22px;
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: middle;
}

div#topmenu ul
{
    padding: 0;
    margin: 0;
}

div#topmenu li
{
    height: 22px;
    background-image: url(../images/t1/t1-tab-normal-left.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #336699;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

div#topmenu li.selected
{
    background-image: url(../images/t1/t1-tab-selected-left.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #7b92bc;
}

div#topmenu li div.spacing
{
    background-image: url(../images/t1/t1-tab-normal-right.gif);
    background-repeat: no-repeat;
    background-position: top right;
    padding-left: 10px;
    padding-right: 10px;
}

div#topmenu li a
{
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
}

div#topmenu li.selected div.spacing
{
    background-image: url(../images/t1/t1-tab-selected-right.gif);
    background-repeat: no-repeat;
    background-position: top right;
}

div#topmenu li.last div.spacing
{
    background-image: none;
}

div#topmenu li.selected a
{
    color: #ffffff;
    font-weight: bold;
}

div#topmenu li a:hover
{
    text-decoration: underline;
}

div#submenu
{
    height: 22px;
    background-color: #7b92bc;
}

div#submenu-design
{
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: middle;
}

div#submenu ul
{
    padding: 0;
    margin: 0;
}

div#submenu li
{
    margin: 0;
    display: block;
    float: left;
    padding-left: 10px;
}

div#submenu li.first
{
    padding-left: 12px;
}

div#submenu li a
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

div#submenu li a:hover
{
    text-decoration: underline;
}


/*

div#topmenu
{
}

div#topmenu-design
{
    height: 22px;
    text-align: left;
    vertical-align: middle;
}

div#topmenu ul
{
    height: 22px;
    background-color: #336699;

    margin: 0 0 0 0;
    padding: 0;
}

div#topmenu li, div#topmenu li div
{
    display: inline;
}

div#topmenu li
{
}

div#topmenu li a
{
    color: #fff;
    font-size: 9pt;
    padding: 0 0.5em 0 0.5em; /* This padding must be set on a-level, not li-level, to work correctly in konqueror */
    text-decoration: none;
}

div#submenu ul
{
    height: 22px;
    background-color: #7b92bc;
    margin: 0 0 0 0;
    padding: 0;
}

div#submenu li, div#submenu li div
{
    display: inline;
}

div#submenu li a
{
    font-size: 9pt;
    color: #fff;
    padding: 0 0.5em 0 0.5em; /* This padding must be set on a-level, not li-level, to work correctly in konqueror */
    text-decoration: none;
}

*/

div#path
{
}

div#path-design
{
  margin: 3px 3px 3px 6px;
}

div#path p
{
    color: #6699cc;
    font-size: 9pt;
    margin: 0;
}

div#path p a
{
    color: #6699cc;
    text-decoration: none;
}

div#columns
{
    height: 100%; /* Needs to be set to 1% to avoid bug in IE 5.5 */
}

div#leftmenu ul, div#rightmenu ul
{
    margin-left: 6px;
}

div#leftmenu
{
    float: left;
    width: 168px;
}


div#leftmenu-design
{
    width: 168px;
}

div#leftmenu-design ul
{
    width: 168px;
}

div#leftmenu-design li.menu-level-0
{ 
    text-decoration: none;
    width: 150px;
    border-top: 1px solid #99ccff;
    padding-top: 4px;
    padding-bottom: 2px;
    list-style-type: none;
}

div#leftmenu-design li.menu-level-0 a
{ 
    color: #339999;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

div#leftmenu-design li.menu-level-0 a:hover
{
    color: #003399;
}

div#leftmenu-design li.menu-level-0 a.selected
{
    color: #003399;
}

div#leftmenu-design li.menu-level-1
{ 
    text-decoration: none;
    width: 140px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: none;
}

div#leftmenu-design li.menu-level-1 a
{ 
    color: #66cccc;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

div#leftmenu-design li.menu-level-1 a:hover
{
    color: #003399;
}

div#leftmenu-design li.menu-level-1 a.selected
{
    color: #003399;
}

div#rightmenu 
{
    float: right;
}

div#rightmenu-design
{
    margin-right: 6px;
    width: 178px;
}

div#maincontent
{
    margin-left: 174px;
    margin-right: 184px;
    height: 100%; /* Needs to be set to 1% to avoid bug in IE 5.5 */
}

/* Toolbax design */
div.toolbox
{ 
    margin-bottom: 8px;
    margin-top: 8px;
}

div.toolbox-design
{ 
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #d9e5f2;
}

div.toolbox-design h2
{ 
    width: 100%;
    position: relative;
    left: -10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font: 12px regular;
    background-color: #336699;
    color: #fff;
}

div.toolbox-design input.searchtext, div.toolbox-design input.textinput
{
    height: 18px;
    width: 120px;
    font: 9pt;
    border: 1px solid #839dbd;
    background-color: #fff;
}

div.toolbox-design label
{
    padding-top: 6px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font: 9pt;
    color: #000;
    font-weight: normal;
}

div.toolbox-design form
{
    vertical-align: bottom;
}

div.toolbox-design div.info-text p
{ 
    font: 9pt;
    color: #000;
    font: 9pt;
    font-weight: normal;
}

div.toolbox-design div.content-link p
{ 
    padding-top: 0px;
    padding-left: 6px;
    font: 9pt;
    font-weight: normal;
    vertical-align: center;
    background-image: url(../images/t1/t1-arrow.gif);
    background-position: center left;
    background-repeat: no-repeat;
}


/* Tool list design */
div.toollist
{ 
    margin-bottom: 8px;
    margin-top: 8px;
}

div.toollist-design
{ 
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid #369;
}

div.toollist-design h2
{ 
    width: 100%;
    position: relative;
    left: -10px;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 2px;
    padding-bottom: 3px;
    font: 12px regular;
    background-color: #336699;
    color: #fff;
}

div.toollist-design h3
{ 
    font: 9pt regular underline;
    color: #369;
    margin: 0px;
}

div.toollist-design div.class-article div.content-short p
{ 
    margin: 0px;
    font: 9pt regular;
    color: #666;
}

div.toollist-design div.class-article div.content-link p
{ 
    margin-top: 0px;
    margin-bottom: 10px;
    font: 9pt regular;
    color: #369;
}


div#fix /* This style breaks the unwanted connection between the content of the maincontent box and the menues on the left and right in some browsers */
{
    float: left;
    width: 100%;
}

/* Footer */
div#footer
{ 
    clear: both;
}

div#footer-design 
{
    background-color: #ffffff;
    color: #003366;
    font-size: 9px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#footer-design address
{
    font-style: normal;
}

div#footer-design a
{
    text-decoration: none;
}

div#footer-design a:hover
{
    color: #003399;
}

/* COMMON STYLES SET JUST AS AN EXAMPLE */
/* Border and padding is set on these elements inside another positioned elements to avoid wrong width calculations in the parents in some browsers */
/*div#leftmenu-design
div#footer-design 
{
    background-color: #ffffff;
    margin: 1em 0 0 0;
    padding: 0.5em;
    border: 1px dashed #a0a0a0;
    overflow: visible;
}*/

div#header-design
{
    margin: 0;
}

/* Common content styles */
div#maincontent-design
{
    padding-right: 22px;
    padding-left: 0px;
}

div#maincontent-design h1
{ 
    font: 18pt bold;
    font-weight: bold;
    color: #039;
    margin-bottom: 0px;
}

div#maincontent-design h2
{ 
    font: 12pt;
    font-weight: bold;
    color: #099;
    margin-bottom: 0px;
}

div#maincontent-design h3
{ 
    font: 10pt;
    font-weight: bold;
    color: #099;
    margin-bottom: 0px;
}

div#maincontent-design h4
{ 
    font: 9pt;
    font-weight: bold;
    color: #036;
    margin-bottom: 0px;
}

div#maincontent-design h5
{ 
    font: 9pt;
    font-weight: bold;
    color: #036;
    margin-bottom: 0px;
}

/* folder */
div#maincontent-design div.class-folder div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: bold;
    color: #036;
}

/* article */
div#maincontent-design div.class-article div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: bold;
    color: #036;
}

div#maincontent-design div.class-folder div.class-article div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
    color: #036;
}

/* product */
div#maincontent-design div.class-folder div.view-line div.class-product div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
    color: #036;
}

div#maincontent-design div.view-full div.class-product div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: bold;
    color: #036;
}

div#maincontent-design div.class-product div.content-price p
{ 
    float: right;
    padding: 0px;
    margin: 0px;
    font: 9pt;
    font-weight: normal;
    color: #666;
}

/* "Read more" text for all children objects */
div#maincontent-design div.view-full div.view-line div.content-link p
{ 
    padding-top: 0px;
    padding-left: 6px;
    font: 9pt;
    font-weight: normal;
    vertical-align: center;
    background-image: url(../images/t1/t1-arrow.gif);
    background-position: center left;
    background-repeat: no-repeat;
}

/* Content link for all main objects, e.g. " and "Thumbnail/slideshow view" */
div#maincontent-design div.view-full div.content-link p
{ 
    padding-top: 0px;
    padding-left: 6px;
    font: 9pt;
    font-weight: normal;
    vertical-align: center;
    background-image: url(../images/t1/t1-arrow.gif);
    background-position: center left;
    background-repeat: no-repeat;
}

div#maincontent-design div.view-slideshow div.content-link p
{ 
    padding-top: 0px;
    padding-left: 6px;
    font: 9pt;
    font-weight: normal;
    vertical-align: center;
    background-image: url(../images/t1/t1-arrow.gif);
    background-position: center left;
    background-repeat: no-repeat;
}

div#maincontent-design div.view-slideshow div.content-tipafriend p
{ 
    padding-top: 0px;
    padding-left: 6px;
    font: 9pt;
    font-weight: normal;
    vertical-align: center;
    background-image: url(../images/t1/t1-arrow.gif);
    background-position: center left;
    background-repeat: no-repeat;
}

/* Author and date for all full objects */
div.view-full div.content-byline p.author
{ 
    display: inline;
    color: #666;
}

div.view-full div.content-byline p.date
{ 
    display: inline;
    color: #666;
}

/* Author and date for all children objects */
div.view-full div.view-line div.content-byline p.author
{ 
    display: inline;
    color: #666;
}

div.view-full div.view-line div.content-byline p.date
{ 
    display: inline;
    color: #666;
}

div.class-product div.view-line div.class-review div.content-message p
{ 
    font: 9pt;
    padding-top: 0px;
    margin-top: 0px;
    color: #036;
}

/* gallery */
div#maincontent-design div.class-folder div.class-gallery div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
    color: #036;
}

div#maincontent-design div.class-folder div.class-gallery div.content-link p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
}

div#maincontent-design div.class-gallery div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: bold;
    color: #036;
}

div#maincontent-design div.class-gallery div.view-children table
{ 
    width: 100%;
}

div#maincontent-design div.class-gallery div.view-children table td
{ 
    border: 1px solid #666;
    text-align: center;
    vertical-align: top;
    padding: 6px;
    width: 25%;
    background-color: #efefef;
}

div#maincontent-design div.class-gallery div.view-children div.content-image p
{ 
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font: 9pt;
    font-weight: none;
    color: #666;
}

div#maincontent-design div.class-gallery div.view-children div.content-caption p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 8pt;
    font-weight: none;
    color: #666;
}


div#maincontent-design div.content-long p
{ 
    font: 9pt regular;
    color: #036;
}

div.content-file
{ 

}

/* Special formatting in XML fields */
div.factbox-design
{ 
    padding-right: 6px;
    padding-left: 6px;
    float: right;
    width: 178px;
    background-color: #fff;
    border: 1px solid #369;
}

div#maincontent-design div.factbox-design h2
{ 
    width: 100%;
    position: relative;
    left: -6px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 3px;
    font: 12px regular;
    background-color: #336699;
    color: #fff;
}

div.factbox h3
{ 
    font: 9pt regular;
    color: #369;
    margin: 0px;
}

div.factbox div.content-file p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
    color: #036;
}

/* list item styles  */
div.view-listitem h3
{ 
    margin-top: 6px;
}

/* list item image */
div.view-listitem div.class-image div.content-image p
{ 
    padding: 0px;
    margin: 0px;
}

div.view-listitem div.class-image div.content-caption p
{ 
    font: 9pt regular;
    padding: 0px;
    margin: 0px;
    color: #666;
}

/* list item product */
div.view-listitem div.class-product div.content-short p
{ 
    font: 9pt regular;
    padding: 0px;
    margin: 0px;
    color: #666;
}

div.view-listitem div.class-product div.content-price p
{ 
    font: 9pt regular;
    padding: 0px;
    margin: 0px;
    color: #000;
}

div.view-listitem div.class-product div.content-link a
{ 
    font: 9pt regular;
    padding: 0px;
    margin: 0px;
    color: #369;
}

/* File styles */
div#maincontent-design div.class-folder div.class-file div.content-short p
{ 
    padding-top: 0px;
    margin-top: 0px;
    font: 9pt;
    font-weight: normal;
    color: #036;
}



/*! article style */
div.class-article div.content-image div.imagecaption
{ 
    width: 170px;
}

div.class-article div.content-image div.imagecaption p
{ 
    font: 9pt regular;
    padding: 0px;
    margin: 0px;
    color: #666;
}

/* Submit buttons */
div.content-action input.defaultbutton
{
    font: 9pt;
    border: 1px solid #369;
    background-color: #9cf;
}

div.content-action input.button
{
    font: 9pt;
    border: 1px solid #369;
    background-color: #9cf;
}

input.searchbutton
{
    font: 9pt;
    border: 1px solid #369;
    background-color: #9cf;
}

