body
{
    padding: 0;
    margin: 0;
}

div#background /* Stretching over the the whole area the other DIVs cover, and the areas in between them; visible where no other color is set or any other DIVs cover. */
{
    background-color: #333333;
    height: 1%; /* Needed for IE5.5 to stop background color bug */
}

div#header
{
    background-image: url(../images/forum_header-red.gif);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #003366;
    height: 55px;
    position: relative;
}

div#header div.design
{
}

div#logo
{
    float: right;
    margin-top: 0.3em;
    margin-right: 0.1em;
}

div#subheader
{
    background-color: #092846;
    padding: 0.1em; /* Padding needs to be set to a value other than 0 to stop a Mozilla color bug. */
}

div#mainmenu
{
    float: right;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

div#mainmenu ul, div#mainmenu li, div#usermenu ul, div#usermenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#mainmenu ul, div#usermenu ul
{
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ffffff;
}

div#mainmenu li a, div#usermenu li a
{
    padding-left: 1em;
    padding-right: 3em;
}

div#mainmenu a, div#usermenu a
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

div#mainmenu a:hover, div#usermenu a:hover
{
    text-decoration: underline;
}

div#searchbox
{
    float: left;
    clear: left;
    margin-left: 2em;
}

div#searchbox input.searchtext
{
    font-size: 80%;
    width: 8em;
}

div#searchbox input.searchbutton
{
    font-size: 80%;
    margin-right: 1em;
}

div#path
{
    background-color: #aaaaaa;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 25px;
}

div#path p
{
    margin: 0;
    color: #777777;
}

div#path a
{
    color: #cc0000;
}

div#maincontent
{
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
    clear: none;
}

div#maincol
{
    background-color: #ffffff;
    margin-top: 0px;
    margin-left: 0px;
    width: 70%;
    float: left;
    min-height: 400px;
}

div#maincol div.design
{
    margin-left: 25px;
    border-left: 1px solid #ccc;
}

/* navigation column */
div#navigationcol
{
    width: 22%;
    float: right;
}

div#navigationcol div.design
{
    color: #aaaaaa;
    padding-left: 10px;
}

div#navigationcol h2
{
    font: bold 110% Georgia,Serif;
    color: #99ccff;
}

div#footer
{
    clear: both;
}

div#footer div.design
{
    background-color: #092846;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

div#footer address, div#footer a
{
    color: #ffffff;
}


/* General child "line view" object settings */

#folder div.child h2
{ 
    color: #444444;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#folder div.child div.byline
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#folder div.child div.object_brief p
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.readmore
{ 
    font-size: small;
}

#folder div.child div.readmore a
{ 
    color: #304b82;
}

#folder div.child div.readmore p
{ 
    padding: 0px;
    margin: 0px;
}

/* article styles */

#article div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#article div.intro p
{ 
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

/* log styles */

div.log h2
{ 
    border-top:1px dotted #ccc; 
    font: bold 110% Georgia,Serif;
    color: #ffa113;
    padding-top: 20px;
    padding-left: 20px;
}

div.log h3
{ 
    border-bottom:1px solid #ccc; 
    font: 100% Georgia,Serif;
    color: #6699cc;
}

div.logentry
{ 
    padding-left: 20px;
    padding-bottom: 20px;
}

div.logentry div.byline p
{ 
    color: #999999;
    padding: 0px;
}

div.log div.commentlist
{ 
    background-color: #eeeeee;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 5px;
    margin-top: 10px;
}

div.log div.commentlist h4
{ 
    color: #999;
}

div.log div.commentlist p
{ 
    color: #999;
}

/* info page */

div#infopage
{ 
    padding-left: 20px;
}

#infopage div.object_title h1
{ 
    font: italic 130%/1.6em Georgia,Serif;
    border-bottom: 1px dotted #ccc; 
    color: #ffa113;
    padding-left: 0px;
}

/* Search */

div.advancedsearchbox
{ 
   display: none;
}

#search .searchbox
{
    padding: 5px;
}
#search h1
{
    background: #eeeeee;
    border-bottom: 1px dotted #cccccc;
}

/* poll */

div#poll
{ 
}

#poll div.object_title h1
{ 
    font: italic 130%/1.6em Georgia,Serif;
    border-bottom: 1px dotted #ccc; 
    color: #ffa113;
    padding-left: 0px;
}

/* poll result */

div#poll_result
{ 
    padding-left: 20px;
}

#poll_result div.object_title
{ 
    font: 120%/1.6em Georgia,Serif;
    border-bottom: 1px dotted #ccc; 
    color: #003366;
    padding-left: 0px;
}

/* General */

h1
{ 
    padding-left: 20px;
    margin-bottom: 5px;
    font: italic 120%/1.6em Georgia,Serif;
    color: #999999;
}

div.editbutton
{ 
   float: right;
}

div.editbutton input
{ 
   font-size: small;
   background-color: #304b82;
   color: #ffffff;
}

p
{ 
   color: #666666;
}

a
{ 
   border-bottom: 1px dotted #69f;
   color: #396acd;
   text-decoration:none;
}

a:hover
{ 
   border-bottom:1px solid #f00;
   color: #f00;
   text-decoration:none;
}

/* Extra */

th.maintopics
{
    font-size: 80%;
    color: #ffffff;
    background-color: #ff3300;
    padding: 0.5em;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}


div.selectedsearch input.searchtext
{
    font-size: 80%;
    width: 8em;
}

div.selectedsearch input.searchbutton
{
    font-size: 80%;
    margin-right: 1em;
}

/* Calendar */

table.calendar
{
    margin-top:.5em;
}

table.calendar a
{ 
   border: 0;
}


.calendar .month th
{
  text-transform:lowercase;
  text-align:left;
  font:bold 130% Georgia,Serif;
  color:#69c;
}

.calendar .month a
{
  text-decoration:none;
  border-bottom-width:0;
}

.calendar th
{
  font: 90% Georgia,Sans-serif;
  color: #666;
  text-transform: lowercase;
  text-align: center;
}

.calendar th.holiday
{
  color: #aa3300;
}

.calendar th div.navigator
{
    display: inline;
}

.calendar th div.navigator div
{
    display: inline;
}

.calendar th div.navigator div.previous
{
    float: left;
}

.calendar th div.navigator div.next
{
    float: right;
}

.calendar th div.navigator div.date
{
    text-align: center;
}

.calendar td
{
  padding:0 2px;
  text-align:center;
  color:#aaa;
  font-size: 65%;
}

.calendar td.week
{
  padding:0 2px;
  border: 0px;
  text-align:center;
  color:#999;
}

.calendar .selected
{
    border-color: #960;
    font-weight: bold;
    color: #000000;
}

.calendar .today
{
    background:#333; color:#ccc;
}

.calendar td a, .calendar td a:visited, .calendar td a:hover
{
  font-weight:bold;
  text-decoration:underline;
  border-bottom-width:0;
}

/* Lists */

dl
{
    margin:0 0 1.5em;
}

dt
{
    font-weight:bold; margin:0 0 .1em 0;
}

dd
{
    margin:0 0 .75em 0; font-size:85%; line-height:1.5em;
}

dl dt em
{
  font-size:85%;
  font-weight:normal;
  color:#999;
  white-space:nowrap;
}

.date {color:#B79A50;}

/* Archive */

#archive .loglist
{
    padding-left: 20px;
}

#archive .loglist .log, #archive .loglist .logentry, #archive .loglist h2
{
    padding-left: 0px;
}

#archive .header, #category .header
{
    padding: 20px 50px 10px 15px;
    background: #eeeeee;
    font-size: 85%;
    line-height: 1.5em;
}

#archive .header, #category .header
{
    border-bottom: 1px dotted #cccccc;
}

#archive .header p, #category .header p
{
    margin: .5em 0 0;
}

#archive .header h1, #category .header h1
{
    padding-left: 0;
}

#archive .header p, #category .header p
{
    padding-top: 5px;
    font: italic 120%/1.6em Georgia,Serif;
    text-style: italic;
}

#archive .header p
{
    display: block;
}

#archive h2
{
    color: #ffa113;
    font-size: 85%;
    font-weight: bold;
}

#archive .log .byline
{
    color: #ffa113;
}

#archive .log .byline .comments
{
    color: #999999;
    font-size: 75%;
    border: 0;
}

/* Feedback */

div.error, div.warning, div.feedback, div.highlight
{ 
    font-size: 80%;
    color: #ffa113;
    border-width: 0px;
}
