body, td, pre { color:#000; font-family: Arial, Helvetica, sans-serif; font-size:0.8em; margin:8px;}
body {background:#FFF;}
body.mceForceColors {background:#FFF; color:#000;}
h1, h2, h3, h4, h5, h6 /* Set general styles for all headings; some may be overridden later */
{
  font-weight: bold;
  font-style: normal;
  margin: 0 0 0.5em 0;
  padding: 0;
}

h1
{
  margin-top: 0;
  font-size: 1.4em;
  font-weight: normal;
}

h2
{
  font-size: 1.3em;
}

h3
{
  font-size: 1.2em;
}

h4
{
  font-size: 1.1em;
}

h5
{
  font-size: 1em;
}

h6
{
  font-size: 1em;
  font-weight: normal;
}

.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {width:12px; line-height:6px; overflow:hidden; padding-left:12px; background:url(../default/img/items.gif) no-repeat bottom left;}
img.mceItemAnchor {width:12px; height:12px; background:url(../default/img/items.gif) no-repeat;}
img {border:0;}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

/* Literal style */

pre
{
  background-color: #ccccff;
}

/* general block tags (embed and custom) */

div.mceNonEditable:after,
div.mceItemCustomTag:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}


/* custom tag style */

div.mceItemCustomTag
{ 
  padding: 0.5em;
  border: 1px solid #5090c0;
}

div.mceItemCustomTag, span.mceItemCustomTag { background-color: #ccffff; }


/* Visualisation of default inline custom tags */

span.sub
{
  vertical-align: sub;
  font-size: 0.8em;
}

span.sup
{
  vertical-align: super;
  font-size: 0.8em;
}

span.strike
{
  text-decoration: line-through;
}

span.underline
{
  text-decoration: underline
}

/* Visualisation of default block custom tags */

div.pagebreak
{
  height: 12px;
  border: 1px dotted #ccc;
  margin: 15px 0 15px 0;
}

div.pagebreak p { margin: 0; }

/* change the style for embed tags */

div.mceNonEditable, div.mceNonEditable div
{
}

/* core.css ez layout styles for embed tags */

div.mceNonEditable div.block /* Used around groups of objects which are connected in some way, and requires extra margins to the surroundings */
{
  margin: 0.5em 0 0.5em 0;
  padding: 0;
  clear: both;
}

div.mceNonEditable div.block div.element /* Used if several objects are to be stacked horizontally within the same block */
{
  padding-right: 1em;
  float: left;
}

div.mceNonEditable div.block div.left /* Floats elements to the left in a block */
{
  width: 48%;
  float: left;
  clear: left;
}

div.mceNonEditable div.block div.right /* Floats elements to the right in a block */
{
  width: 48%;
  float: right;
  clear: right;
}

div.mceNonEditable div.object-left /* Used for floating images and other content elements to the left inside other content */
{
  margin: 0.25em 0.25em 0.25em 0;
  float: left;
  clear: left;
}

div.mceNonEditable div.object-right /* Used for floating images and other content elements to the right inside other content */
{
  margin: 0.25em 0 0.25em 0.25em;
  float: right;
  clear: right;
}

div.mceNonEditable div.split
{
  clear: both;
}

div.mceNonEditable div.split:after /* Terminate floating elements flow */
{
  content: "-";
  height: 0;
  font-size: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

div.mceNonEditable div.split div.three-left
{
  width: 31%;
  float: left;
}

div.mceNonEditable div.split div.three-right
{
  width: 31%;
  float: right;
}

div.mceNonEditable div.split div.three-center
{
  margin: 0 35% 0 35%;
}

/* Example of class visualization for paragraph element:
   red background and center-aligned text. */

p.pRed
{
  background-color: red;
  text-align: center;
}
