/* ADMIN2 ROUNDED CSS 20100107 */
/*
   The border-radius (rounded corner) css is supported in
   FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9.
   And fallbacks gracefully to normal corners in older browsers. 
*/


/* GENERIC */

a.show-hide-control, span.show-hide-control
{
  background-color: white;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

span.show-hide-control.disabled
{
  border-color: #ccc;
}

/* LOGIN PAGE (center it) */

.loginpage, .loginpage #page
{
  height: 100%;
  background-color: #fefefe;
}

.loginpage #path
{
  display: none;
}

.loginpage #header
{
  height: 25%;
}

.loginpage #columns
{
  height: 74%;
}

.loginpage #columns #maincontent
{
  max-width: 48em;
  margin: auto;
}

.loginpage #columns #maincontent .box-header
{
  background-image: url('../../images/2/ezpublish-black.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.loginpage #leftmenu, .loginpage #rightmenu
{
	border: 0 none;
}

.loginpage #footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.loginpage #debug
{
  padding-bottom: 4em;
}

/* HEADER */
#header
{ 
  border-bottom: 1px solid #999;
  background-color: #fefefe;
}

.loginpage #header
{
	border-bottom-width: 0;
}

#header-logo a, #header-logo span
{
  float: left;
  text-align: left;
  padding: 5px 10px 5px;
  min-height: 25px;
}

#header-logo a, #header-logo span
{
  display: block;
  width: 102px;
  height: 35px;
  text-decoration: none;
  background-image: url('../../images/2/ezpublish-black.png');
  background-repeat: no-repeat;
  background-position: 8px 6px;
}

#searchbutton
{
  background-image:url(../../images/2/gradient-red.png);
  background-position: bottom;
  background-repeat:repeat-x;
  background-color: ff8c00;
  color:white;
  font-weight:bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:  3px;
  border:1px solid #999;
}

#searchbutton.button-disabled
{
  background-image:url(../../images/2/gradient-to-darker.png);
  background-position: bottom;
  background-repeat:repeat-x;
  color: #999;
  font-weight:normal;
}

/* TOP MENU (TABS) */
#header-topmenu ul li a, #header-topmenu ul li span.disabled, ul.tabs li a
{
  margin-top: 2px;
  background-color: #f3f3f3;
  border: 1px solid #999;
  border-bottom-width: 0;
  min-width: 100px;
  min-height: 20px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius:  3px;
  border-top-right-radius: 3px;
  background-image: url('../../images/2/gradient-to-darker.png');
  background-repeat: repeat-x;
  background-position: left top;
}

ul.tabs li a
{
	border-color: #ccc;
	min-height: 16px;
    min-width: 85px;
}

#header-topmenu ul li.selected a, #header-topmenu ul li a:hover{
  margin-top: 0;
  min-height: 22px;
}

#header-topmenu ul li.selected a, #header-topmenu ul li.selected span.disabled, ul.tabs li.selected a
{
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #fff;
  background-image: none;
}

 ul.tabs li.selected a,  ul.tabs li a:hover
{
  margin-top: 0;
  min-height: 18px;
}

 ul.tabs li.selected a
{
  margin-top: 0;
  min-height: 18px;
  border-bottom-color: #fff;
  background-color: #fff;
}

ul.tabs.context-user li#node-tab-states
{
  display: none;
}

div.tab-content
{
  border: 1px solid #ccc;
  background-color: #fff;
}


/* PATH */

#path span
{
  color: #333;
}

/* BOX MODEL */

#leftmenu
{
  position: relative;
  border: 1px solid #999;
  border-left: 0px none;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius:  3px;
  border-bottom-right-radius: 3px;
}

#rightmenu
{
  position: relative;
  border: 1px solid #999;
  border-right: 0px none;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius:  3px;
  border-bottom-left-radius: 3px;
}

.box-header
{
  border: 0px solid #999;
  border-bottom-width: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius:  3px;
  border-top-right-radius: 3px;
}

.box-bc
{
  background-color: #fff;
  border: 0px solid #ccc;
  border-top-width: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius:  3px;
  border-bottom-right-radius: 3px;
}

.controlbar .box-bc
{
  /* background: #FEFEFE url('../../images/2/gradient-to-light.png') repeat-x left top scroll; */
}

#controlbar-top .box-bc
{
  margin-top: 0.5em;
  border-width: 1px;
  background: #FEFEFE url('../../images/2/gradient-to-light.png') repeat-x left top scroll;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.box-ml
{
  background-color: #fff;
  /*
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  */
}

.box-bc .box-ml, .box-header .box-ml
{
  border: 0 none;
  background-color: transparent;
}

div.box-header div.box-ml
{
  border-bottom: 1px solid #ccc;
}

.controlbar .box-bc .box-ml
{
  /* border-top: 1px solid #ccc; */
}

#controlbar-top .box-bc .box-ml
{
  border-top-width: 0;
}

/* MENU-BLOCK */

.menu-block li a
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* TABLE */
table.list th
{
  background: #FEFEFE url('../../images/2/gradient-to-light.png') repeat-x left top scroll;
  font-weight: bold;
  height: 30px;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

/* FOOTER */

#footer
{
  border-top: 1px solid #999;
  background-color: #fff;
}