/* ADMIN2 ROUNDED CSS 20100107 */

/* GENERIC */

body
{
  background-color: #f5f5f5;
}

a.show-hide-control, span.show-hide-control
{
  background-color: white;
  border: 1px solid #bbb;
  /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

span.show-hide-control.disabled
{
  border-color: #ddd;
}

/* LOGIN PAGE (center it) */

.loginpage, .loginpage #page
{
  height: 100%;
  background-color: #fefefe;
}

.loginpage #path
{
  display: none;
}

.loginpage #header
{
  height: 25%;
}

.loginpage #columns
{
  height: 74%;
}

.loginpage #columns #maincontent
{
  max-width: 48em;
  margin: auto;
}

.loginpage #columns #maincontent .box-header
{
  background: #f5f5f5 url('../../images/2/header-gradient.png') repeat-x left top scroll;
}

.loginpage #columns #maincontent .box-header .box-ml
{
  margin-right: 0.3em;
  background: transparent url('../../images/2/ez-logo.png') no-repeat right top scroll;
}

.loginpage #columns #maincontent .box-header .box-ml h1
{
  margin: 0.35em 0 0.1em 0.2em;
}

.loginpage #columns #maincontent .controlbar .block
{
  margin: 0.2em;
}

.loginpage #footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.loginpage #debug
{
  padding-bottom: 4em;
}

/* HEADER */
#header
{ 
  border-bottom: 1px solid #999;
  background-color: #fefefe;
}

.loginpage #header
{
	border-bottom-width: 0;
}

#header-logo, #header-search
{
  border-bottom: 1px solid #999;
  background-color: #fff;
  background-image: url('../../images/2/header-gradient.png');
  background-repeat: repeat-x;
  background-position: left 2px;
}

#header-logo
{
  border-left: 1px solid #999;
  /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius:  5px;
}


/* TOP MENU (TABS) */
#header-topmenu ul li a, #header-topmenu ul li span.disabled, ul.tabs li a
{
  background-color: #f3f3f3;
  border: 1px solid #999;
  border-bottom-width: 0;
  min-width: 100px;
  min-height: 20px;
  /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
  background-image: url('../../images/2/header-gradient.png');
  background-repeat: repeat-x;
  background-position: left top;
}

ul.tabs li a
{
	border-color: #ddd;
	margin-top: 2px;
	min-height: 16px;
}

#header-topmenu ul li.selected a, #header-topmenu ul li.selected span.disabled, ul.tabs li.selected a
{
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: -1px;
  background-color: #f5f5f5;
  background-image: none;
}

 ul.tabs li.selected a,  ul.tabs li:hover a
{
  margin-top: 0;
  min-height: 18px;
}

 ul.tabs li.selected a
{
  margin-top: 0;
  min-height: 18px;
  border-bottom-color: #fff;
  background-color: #fff;
}

div.tab-content
{
  border: 1px solid #ddd;
  background-color: #fff;
}


/* PATH */

#path span
{
  color: #888;
}

/* BOX MODEL */

.box-header
{
  background: #FEFEFE url('../../images/2/header-gradient.png') repeat-x left bottom scroll;
  border: 1px solid #999;
  border-bottom-width: 0;
  /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
}

.box-bc
{
  background-color: #fff;
  border: 1px solid #999;
  border-top-width: 0;
  /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius: 5px;
}

.controlbar .box-bc
{
  background: #FEFEFE url('../../images/2/footer-gradient.png') repeat-x left top scroll;
}

#controlbar-top .box-bc
{
  margin-top: 0.5em;
  border-top-width: 1px;
  /* Supported on FF 3.5+, Safari 3.0+, Chrome, Opera Presto 2.3+ ("10.50") and IE9 */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.box-ml
{
  background-color: #fff;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.box-bc .box-ml, .box-header .box-ml
{
  border: 0 none;
  background-color: transparent;
}

div.box-header div.box-ml
{
  border-bottom: 1px solid #ccc;
}

.controlbar .box-bc .box-ml
{
  border-top: 1px solid #ccc;
}

#controlbar-top .box-bc .box-ml
{
  border-top-width: 0;
}



/* FOOTER */

#footer
{
  border-top: 1px solid #999;
  background-color: #f3f3f3;
}