/* eZ publish 3 admin CSS - th[eZ] 20021004                             */

body
{
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
}

h1
{
    color: #4373B4;
}

h2
{
    font-size: 120%;
    color: #4373B4;
}

a
{
    color: #3C67A2;
}

a:hover
{
    color: #000000;
}

td.topline
{
  background-color: #4272b4;
  border-bottom: solid 1px #000000;
}

label.topline, a.topline, a.topline:hover
{
  color: #ffffff;
}

td.pathline
{
  padding-top: 0px;
  padding-bottom: 6px;
  color: #000000; 
  background-color: #ffffff;
}

table.path td.bullet
{
  padding-top: 2px;
  padding-left: 2px;
}

p.path
{
   font-size: 70%;
   font-weight: none;
}

p.path a.path
{
    text-decoration: none;
    color: #3C67A2;
}

p.path a.path:hover
{
        text-decoration: underline;
        color: #000000;
}

span.slash
{
    color: #000000;
}


td.headlogo
{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-bottom: solid 1px #89a7d6;
}

td.headlink
{
    padding-bottom: 0px;
    vertical-align:bottom; 
}

td.menuheadselectedgfx
{
    background-color: #638ecf;
    color: #4373b4;
    text-align: center;
}

td.menuheadselectedtopline
{
    background-color: #638ecf;
    border-top: solid 1px #89a7d6;
}

td.menuheadselected
{
    background-color: #638ecf;
    color: #ffffff;
    text-align: center;
    font-size: 80%;
}

td.menuheadgraygfx
{
    background-color: #6c9ad7;
    color: #eeeeee;
    text-align: center;
}

td.menuheadgrayleftline
{
    background-color: #6c9ad7;
    border-bottom: solid 1px #b5cded;
    border-left: solid 1px #b5cded;
}

td.menuheadgrayrightline
{
    background-color: #6c9ad7;
    border-bottom: solid 1px #b5cded;
    border-right: solid 1px #b5cded;
}

td.menuheadgraytopline
{
    background-color: #6c9ad7;
    border-top: solid 1px #b5cded;
}

td.menuheadgray
{
    background-color: #6c9ad7;
    color: #ffffff;
    text-align: center;
    font-size: 80%;
    border-bottom: solid 1px #b5cded;
}

td.menuheadspacer
{
    border-bottom: solid 1px #89a7d6;
}

a.menuheadlink
{
    color: #4373b4;
    text-decoration: none;
}

div.objectheader a.menuheadlink
{
    color: #b5cded;
    text-decoration: none;
    margin-left: 7px;
    margin-right: 7px;
}

a.menuheadlinkgray
{
    color: #ffffff;
    text-decoration: none;
}

td.menuheadtoolbar
{
    vertical-align: middle;
    color: #ffffff;
    border-bottom: solid 1px #89a7d6;
}


p.menuheadselected
{
        font-size: 70%;
        font-weight: none;
        padding-top: 0px;
        padding-bottom: 0px;
}

input.searchbox
{
  font-family: verdana; 
  width: 100px; 
  font-size: 9px; 
  margin: 0px; 
}

input.searchbutton
{
    font-weight: none;
    font-size: 70%;
    margin: 4px;
}

select.classcreate
{
    font-weight: none;
    font-size: 70%;
    margin: 4px;
}

input.classbutton
{
    font-weight: none;
    font-size: 70%;
    margin: 4px;
}

table.menuboxleft
{
        border-top: solid 1px #000000;
        border-right: solid 1px #000000;
        border-bottom: solid 1px #000000;
        margin-top: 12px;
}

table.menuboxright
{
        border-top: solid 1px #4272b4;
        border-left: solid 1px #4272b4;
        border-bottom: solid 1px #4272b4;
        border-right: solid 1px #4272b4;
        margin-top: 12px;
}

th.menuheaddark
{
  padding-left: 4px;
  background-color: #4272b4;
}

th.menuheaddark p.menuhead
{
        color: #ffffff;
}

th.menuheadlight p.menuhead
{
        color: #000000;
}

td.menu, table.menuboxleft td.bullet, table.menuboxright td.bullet  
{
        background-color: #ffffff;
}

table.menuboxleft td.bullet, table.menuboxright td.bullet
{
        padding-top: 2px;
        padding-left: 4px;
}

p.menuitem, p.menufieldlabel, p.menufield, p.menutext, a.leftmenuitem
{
    font-size: 70%;
}

p.menuitem
{
        font-weight: bold;
}

p.menuitem a.menuitem
{
        text-decoration: none;
        color: #4373b4;
}

a.leftmenuitem
{
        text-decoration: none;
        color: #ffffff;
}

p.menuitem a.menuitem:hover
{
        text-decoration: underline;
        color: #4373b4;
}

p.menufieldlabel
{
        font-weight: bold;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;

}

p.menufield
{
        padding-top: 0px;
        padding-left: 4px;
        padding-right: 4px;
}

p.menutext
{
        padding-left: 4px;
        padding-right: 4px;
}

td.mainarea
{
        background-color: #ffffff;
        padding: 12px;
        padding-left: 20px;
        padding-top: 10px;
}

td.bglightextra, td.bgdarkextra
{
        border-top: none;
}

ul.leftmenu
{
    list-style: none;
    padding-left: 0px;
    color: #4373b4;
}

table.list, table.layoutlist
{
/*      border-bottom: solid 1px #e0f4ff;*/
}

table.list tr:hover
{
    background-color: #DAE3F3;
}

table.list td
{
    padding: 0.2em;
    border-bottom: 1px solid #C8D7EE;
}

table.list th
{
    padding: 0.4em;
    color: #ffffff;
    background-color: #4373B4;
}

table.class_list
{
    margin-top: 0.5ex;
    margin-bottom: 1ex;
}

table.class_list th, table.class_list td
{
    padding: 2px;
}

tr.bglight, td.bglight, td.bglightextra
{
        background-color: #F4F8FD;
}

tr.bgdark, td.bgdark, td.bgdarkextra
{
        background-color: #ECF1F9;
}

div.selectbar
{
    align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
}

td.selectbar
{
    color: #ECF1F9;
    font-size: 70%;
    text-align: center;
}

a.selectbar
{
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}

a.selectbar:hover, td.selected
{
    background-color: #4373B4;
    color: #ffffff;
    text-decoration: none;
}

input.menubutton
{
    font-weight: none;
    font-size: 70%;
    margin: 4px;
}

th a
{
    color: #000000;
}


blockquote
{
        background-color: #ebf2f8;
        border : 1px solid #999999;
        padding: 6px;
}

pre.example, table.example
{
        font-family: Courier;
        background-color: #ebf2f8;
        border-top : 1px solid #999999;
        border-bottom : 1px solid #999999;
        border-left : 1px solid #999999;
        border-right : 1px solid #999999;
}

p.important
{
        background-color: #f8f280;
        border-top : 1px solid #999999;
        border-bottom : 1px solid #999999;
        border-left : 1px solid #999999;
        border-right : 1px solid #999999;
}

/* new navigation */

div.objectheader
{
    background-color: #4373b4;
}

div.objectheader img
{
    padding-right: 0.4em;
}

div.objectheader h2
{
    color: #ffffff;
    font-size: 80%;
    font-weight: bold;
    padding: 0.4em;
    margin: 0em;
}

div.object
{
    border: 1px solid #C8D7EE;
    padding: 0.5em;
    margin-bottom: 1em;
        background-color: #F4F8FD;
}

div.object div.buttonblock
{
    margin-top: 1em;
}

.price, .rating
{
    font-weight: bold;
}

/* Package management */

#package .creatorlist ul
{
    list-style-type: none;
}

#package .creatorlist ul
{
    margin-left: 0px;
}

#package label
{
    display: block;
}

#package div.navigator
{
    margin-top: 1em;
    margin-bottom: 1ex;
}

#package p.summary
{
    font-size: 95%;
    font-style: italic;
}

#package select
{
    width: 12em;
}

#package select.combobox
{
}

#package select.listbox
{
    height: 25em;
}

#package input.textline
{
    width: 26em;
}

#package input.shorttextline
{
    width: 8em;
}

#package textarea
{
    width: 28em;
}

/* Package information page */

#package .description textarea
{
    height: 8em;
}

/* Package changelog page */

#package .changelog_text textarea
{
    height: 12em;
}

/*! Package maintainer page */


/*! Ini settings styles */

div.array
{
color: #58A600;
}

div.numeric
{
color: #0000FF;
}

div.enabled
{
font-weight: bold;
}

div.disabled
{
color: #9E9E9E;
font-style: italic;
}


/*! Setup menu styles */
div.toolbar-setup
{  
}

div.toolbar-setup div.toolbar-item
{ 
    float:left;
    padding-left: 20px;
}

div.toolbar-setup div.toolbar-item img
{
    clear: both;
}

/* Doxygen related styles */
p.footnote
{
        font-size: 10px;
}

p.filename
{
	font-style: italic;
}

p.groupname
{
   font-weight: bold;
}

H1.dox 
{ 
}
CAPTION.dox { font-weight: bold }
A.dox_qindex {}
A.dox_qindexRef {}
A.dox_el { text-decoration: none; font-weight: bold }
A.dox_elRef { font-weight: bold }
A.dox_code { text-decoration: none; font-weight: normal; color: #4444ee }
A.dox_codeRef { font-weight: normal; color: #4444ee }
A:dox_hover { text-decoration: none; background-color: #f2f2ff }
DL.dox_el { margin-left: -1cm }
/* DIV.dox_fragment { width: 100%; border: none; background-color: #eeeeee } */
DIV.dox_fragment
{
	font-family: Courier;
        background-color: #ebf2f8;
        border-top : 1px solid #999999;
        border-bottom : 1px solid #999999;
        border-left : 1px solid #999999;
        border-right : 1px solid #999999;
}
DIV.dox_ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.dox_md { background-color: #ebf2f8; font-weight: bold; }
TD.dox_mdname1 { background-color: #ebf2f8; font-weight: bold; color: #602020; }
TD.dox_mdname { background-color: #ebf2f8; font-weight: bold; color: #602020; width: 600px; }
DIV.dox_groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.dox_groupText { margin-left: 16px; font-style: italic; font-size: smaller }
BODY.dox { background: white }
TD.dox_indexkey { 
   background-color: #ebf2f8; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TD.dox_indexvalue { 
   background-color: #ebf2f8; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
span.dox_keyword       { color: #008000 }
span.dox_keywordtype   { color: #604020 }
span.dox_keywordflow   { color: #e08000 }
span.dox_comment       { color: #800000 }
span.dox_preprocessor  { color: #806020 }
span.dox_stringliteral { color: #002080 }
span.dox_charliteral   { color: #008080 }

div.pagenavigator
{
   text-align: center;    
}

div.pagenavigator span.previous
{
   float: left;
}

div.pagenavigator span.next
{
   float: right;
}



div.toolbox div.toolbox-design div.toolbox-content div.setup-icon
{
    text-align: center;
}