/* SITE CSS 20040720 */

body
{
    background-color: #e8e8e8;
}

div#allcontent
{
}

div#header
{
}

div#header-design
{
}

div#header img
{
    float: left;
}

div#search
{
    float: right;
}

div#search div.block
{
    margin: 0;
    text-align: right;
}

div#search input#searchtext
{
    font-size: 1em;
    width: 12em;
}

div#search p
{
    font-size: 0.8em;
    margin: 0;
}

div#search label
{
    display: inline;
}

div#topmenu
{
}

div#topmenu-design
{
    text-align: left;
}

div#topmenu ul
{
    margin: 0 -0.5em 0 -0.5em;
    padding: 0;
}

div#topmenu li, div#topmenu li div
{
    display: inline;
}

div#topmenu li
{
    margin-left: 0.5em;
    border: 1px solid #ffffff;
    border-bottom-color: #808080;
    border-right-color: #808080;
}

div#topmenu li a
{
    color: #000000;
    font-weight: bold;
    padding: 0 0.5em 0 0.5em; /* This padding must be set on a-level, not li-level, to work correctly in konqueror */
    text-decoration: none;
}

div#path
{
}

div#path-design
{
}

div#path p
{
    margin: 0;
}

div#columns
{
    height: 100%; /* Needs to be set to 1% to avoid bug in IE 5.5 */
}

div#leftmenu ul, div#rightmenu ul
{
    margin-left: 1.5em;
}

div#leftmenu
{
    float: left;
    width: 13em;
}

div#leftmenu-design
{
}

div#rightmenu 
{
    float: right;
    width: 13em;
}

div#rightmenu-design
{
}

div#maincontent
{
    margin-left: 13.5em;
    margin-right: 13.5em;
    height: 100%; /* Needs to be set to 1% to avoid bug in IE 5.5 */
}

div#maincontent-design
{
}

div#fix /* This style breaks the unwanted connection between the content of the maincontent box and the menues on the left and right in some browsers */
{
    float: left;
    width: 100%;
}

/* COMMON STYLES SET JUST AS AN EXAMPLE */
/* Border and padding is set on these elements inside another positioned elements to avoid wrong width calculations in the parents in some browsers */
div#header-design, div#topmenu-design, div#path-design, div#leftmenu-design, div#rightmenu-design, div#status-design, div#footer-design 
{
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    border: 1px solid #808080;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    overflow: visible;
}

div#maincontent-design
{
    background-color: #ffffff;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    border: 1px solid #808080;
    border-bottom-color: #f8f8f8;
    border-right-color: #f8f8f8;
    overflow: visible;
}

input#searchbutton, input.menubutton
{
    font-weight: normal;
    background-color: #e0e0e0;
}

h1
{
    margin-top: 0.5em;
}

.hide
{
    display: none;
}