/* ADMIN SITE CSS 20040722 */

body
{
    background-color: #f0f0f0;
}

div#allcontent
{
}

div#header
{
}

div#header-design
{
}

div#header div#logo
{
    float: left;
}

div#search
{
    float: right;
}

div#search form
{
}

div#search div.block
{
    margin: 0;
}

div#search input#searchtext
{
    font-size: 1em;
    width: 16em;
}

div#search p
{
    font-size: 0.8em;
    margin: 0;
    text-align: right;
}

div#search label
{
    display: inline;
}

div#userstatus
{
    float: right;
}

div#topmenu
{
}

div#topmenu-design
{
    text-align: left;
}

div#topmenu ul
{
    margin: 0 -0.5em 0 -0.5em;
    padding: 0;
}

div#topmenu li, div#topmenu li div
{
    display: inline;
}

div#topmenu li
{
    margin-left: 0.5em;
    border: 1px solid #f8f8f8;
    border-bottom-color: #d0d0d0;
    border-right-color: #d0d0d0;
}

div#topmenu li a, div#topmenu span.disabled
{
    font-weight: bold;
    padding: 0 0.5em 0 0.5em; /* Must be set on a-level, not li-level, to work correctly in konqueror */
    text-decoration: none;
}

div#topmenu li a
{
   color: #000000;
     
}

span.disabled
{
    color: #d0c0c0;
}

div#path
{
}

div#path-design
{
}

div#path p
{
    margin: 0;
}

div#path span.disabled
{
}

div#columns
{
    height: 100%; /* Set to avoid bug in IE 5.5 */
}

div#leftmenu ul, div#rightmenu ul
{
    margin-left: 1.5em;
}

div#leftmenu
{
    float: left;
    width: 13em;
}

div#leftmenu-design
{
}

div#contentstructure
{
    width: 100%;
    overflow: scroll;
}

div#contentstructure ul#content_tree_menu, div#contentstructure ul#content_tree_menu ul
{
    margin-left: 0;
}

div#contentstructure ul#content_tree_menu ul ul
{
    margin-left: 20px;
}

div#contentstructure ul#content_tree_menu li
{
    list-style-type: none;
    white-space: nowrap;
}

div#contentstructure ul#content_tree_menu li img
{
    vertical-align: middle;
}

div#contentstructure a.nodetext
{
    color: #000000;
    text-decoration: none;
}

div#contentstructure a.nodetext:hover
{
    text-decoration: underline;
}

div#contentstructure li.currentnode a.nodetext /* Highlighting of current node */
{
    font-weight: bold;
}

div#contentstructure li.currentnode li a.nodetext
{
    font-weight: normal;
}

div#leftmenu div.translations label
{
    font-weight: normal;
    white-space: normal;
}

a.openclose, span.openclose
{
    font-family: "Courier New", Courier, monospace; 
    font-size: 0.7em;
    color: #000000;
    text-decoration: none;
}

h4 span.openclose
{
    font-size: 1em;
    color: #c0c0c0;
}

div#contentstructure span.openclose
{
    visibility: hidden;
}

div#rightmenu 
{
    float: right;
    width: 13em;
}

div#rightmenu-design
{
}

div#history ul, div#bookmarks ul
{
    margin-left: 0;
}

div#history li, div#bookmarks li
{
    list-style-type: none;
}

div#history img, div#bookmarks img
{
    vertical-align: middle;
}

a.showhide
{
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    color: #000000;
}

div#maincontent
{
    margin-left: 13.5em;
    margin-right: 13.5em;
    height: 100%; /* Set to avoid bug in IE 5.5 */
}

div#maincontent-design
{
}

div#fix /* Breaks unwanted connection between the content of the maincontent box and the menues on the left and right in some browsers */
{
    float: left;
    width: 100%;
}

div#header-design, div#topmenu-design, div#path-design, div#leftmenu-design, div#rightmenu-design, div#status-design, div#footer-design 
{
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    overflow: visible;
}

div#maincontent-design
{
/*    background-color: #ffffff; */
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    border: 1px solid #d0d0d0;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
    overflow: visible;
}

div.mainobject-vindow
{
    background-color: #ffffff;
    height: 200px;
    padding: 0 0.5em 0 0.5em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    overflow: scroll;
}

div.menu-block
{
    padding: 0.1em 0.2em 0.1em 0.2em;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
    border-bottom-color: #d0d0d0;
    border-right-color: #d0d0d0;
}

div.menu-block ul
{
    margin: 0;
    padding: 0;
}

div.menu-block li
{
    display: inline;
    border: 1px solid #ffffff;
    border-bottom-color: #d0d0d0;
    border-right-color: #d0d0d0;
}

div.menu-block a
{
    color: #000000;
    padding: 0 0.5em 0 0.5em;
    text-decoration: none;
}

div.menu-block a.enabled
{
    color: #ffffff;
    background-color: #606060;
}

div.menu-block a:hover
{
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
}

div.context-block
{
    border: 1px solid #000000;
}

div.context-block
{
    margin: 1em 0 2em 0;
}

div.context-attributes
{
    background-color: #f8f8f8;
    padding: 0.5em;
}

h2.context-title
{
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    background-color: #606060;
    padding: 0.2em;
    margin: 0;
}

div.context-block h2.context-title img
{
    vertical-align: middle;
}

div.context-block table.list
{
    margin: 0;
    padding: 0;
}

div.context-toolbar
{
    background-color: #ffffff;
}

div.context-toolbar div.block
{
    margin: 0;
}

div.context-information p
{
    background-color: #d0d0d0;
}
div.context-toolbar p, div.context-information p
{
    font-size: 0.85em;
    margin: 0;
    padding: 0.1em 0.2em 0.1em 0.2em;
}

div.context-toolbar a, div.context-toolbar span.current
{
    color: #000000;
    padding: 0 0.25em 0 0.25em;
    text-decoration: none;
}

div.context-toolbar span.current, div.context-toolbar span.current
{
    color: #ffffff;
    background-color: #808080;
}

div.context-toolbar a:hover
{
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
}

/*
div.context-controlbar
{
    background-color: #606060;
    border: 1px solid #606060;
    padding: 0 0.25em 0 0.25em;
    margin: 0;
}

div.context-controlbar select
{
    font-size: 0.85em;
}
*/
div.viewbar, div.controlbar
{
    background-color: #606060;
    border: 1px solid #606060;
    padding: 0 0.25em 0 0.25em;
    margin: 0;
}

div.controlbar div.block
{
    margin: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #606060; /* Set to avoid Mozilla bug */
}

div.controlbar label
{
    color: #ffffff;
}

div.controlbar input.button
{
    font-size: 0.9em;
    font-weight: bold;
    color: #ffffff;
    background-color: #a0a0a0;
    margin: 0;
    padding: 0;
}

div.content-control
{
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #000000;
    background-color: #f0f0f0;
}

div.content-view-children div.viewbar
{
    margin-top: 2em;
    margin-bottom: 0;
}

div.viewbar label, div.controlbar label
{
    padding: 0;
    display: inline;
    vertical-align: bottom;
}

div.viewbar select, div.controlbar select
{
    vertical-align: bottom;
    margin-right: 0.5em;
}

div.viewbar input.menubutton
{
    margin: 0 0.5em 0 0;
    padding: 0;
    vertical-align: bottom;
}

div.pagenavigator
{
    text-align: center;
}

div.pagenavigator span.previous
{
    display: block;
    float: left;
}

div.pagenavigator span.next
{
    display: block;
    float: right;
}

div.pagenavigator span.disabled
{
    color: #d0d0d0;
}

div#footer
{
    text-align: center;
}

/* GENERAL ITEMS */

h4
{
    margin: 0.5em 0 0 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border: 1px solid #f8f8f8;
    border-bottom-color: #d0d0d0;
    border-right-color: #d0d0d0;
}

input#searchbutton, input.menubutton
{
    font-weight: normal;
    background-color: #e0e0e0;
}

div.content-navigation-childlist table.list th
{
    width: 1%;
}

div.content-navigation-childlist table.list th.name, div.content-edit table.list th.name
{
    width: 99%;
}

table.list img
{
    vertical-align: middle;
}

div.content-edit table.list td.filesize
{
    white-space: nowrap;
}

table.list th.icon, table.list td.icon, table.list th.class, table.list td.class, table.list th.checkbox, table.list td.checkbox
{
    width: 1%;
}

table.list-thumbnails
{
    width: 100%;
    background-color: #ffffff;
}

table.list-thumbnails td
{
    border: 4px solid #ffffff;
    padding: 0.5em;
    vertical-align: middle;
    background-color: #f8f8f8;
    height: 150px;
    text-align: center;
}

table.list-thumbnails div.content-view-thumbnail
{
    
}

table.list-thumbnails div.controls
{
    margin-top: 0.5em;
}

table.list-thumbnails div.controls input, table.list-thumbnails div.controls img
{
    vertical-align: middle;
}

/* -- Frederiks popupmenu horrorshow */
div.popupmenu
{
  width: 14em;
  font-size: 0.85em;
  margin: 0px;
  padding: 4px;
  cursor: default;
  background-color: #e8e8e8;
  border: 2px solid #ffffff;
  border-bottom-color: #808080;
  border-right-color: #808080;
  z-index: +1; 

  /* These two are essential */
  position: absolute;
  visibility: hidden;
}

div.popupmenu div.popupmenuheader
{
    margin: -2px -2px 0.5em -2px;
    background-color: #c0c0c0;
    border: 1px solid #ffffff;
    border-bottom-color: #808080;
    border-right-color: #808080;
}

div.popupmenu h3
{
    margin: 0;
    padding: 0.2em 0.3em 0.2em 0.3em;
    float: left;
}

div.popupmenu div.window-close
{
    float: right;
    padding: 1px;
}

div.popupmenu div.window-close p
{
    font-weight: bold;
    color: #000000;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0.1em 0.3em 0.1em 0.3em;
    border: 1px solid #f8f8f8;
    border-bottom-color: #202020;
    border-right-color: #606060;
}

div.popupmenu a
{
    color: #000000;
    padding: 0.1em 0.3em 0.1em 0.3em;
    text-decoration: none;
    cursor: default;
    display: block;
}

div.popupmenu a:hover
{
    color: #ffffff;
    background-color: #08246b;
    text-decoration: none;
    cursor: default;
}

div.popupmenu hr
{
    border: none;
    border-top: 1px solid #c0c0c0;
}


/* th[eZ] */