body
{
    padding: 0;
    margin: 0;
}

div#background /* Stretching over the the whole area the other DIVs cover, and the areas in between them; visible where no other color is set or any other DIVs cover. */
{
    background-color: #ffffff;
    height: 1%; /* Needed for IE5.5 to stop background color bug */
}

div#header
{
    background-image: url(../images/forum_header-red.gif);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #cc0000;
    height: 89px;
    position: relative;
}

div#header div.design
{
}

div#logo
{
    float: left;
    margin-top: 0.3em;
    margin-right: 0.1em;
}

div#subheader
{
    background-color: #ff3300;
    padding: 0.1em; /* Padding needs to be set to a value other than 0 to stop a Mozilla color bug. */
}

div#mainmenu
{
    float: right;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

div#usermenu
{
    text-align: right;
    margin-top: 0.2em;
}

div#usermenu ul
{
    margin-left: 0em;
    color: #cc0000;
}

div#mainmenu ul, div#mainmenu li, div#usermenu ul, div#usermenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#mainmenu ul
{
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #ffffff;
}

div#mainmenu li a
{
    padding-left: 1em;
    padding-right: 3em;
}

div#usermenu li a
{
    padding-left: 1em;
    padding-right: 3.1em;
}

div#mainmenu a, div#usermenu a
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

div#usermenu a
{
    color: #cc0000;
}

div#mainmenu a:hover, div#usermenu a:hover
{
    text-decoration: underline;
}

div#searchbox
{
    float: left;
    clear: left;
    margin-left: 2em;
}

div#searchbox input.searchtext
{
    font-size: 80%;
    width: 8em;
}

div#searchbox input.searchbutton
{
    font-size: 80%;
    margin-right: 1em;
}

div#path
{
    margin-top: 0;
    margin-bottom: 0.5em;
}

div#path p
{
    margin: 0;
    color: #ff3300;
}

div#path a
{
    color: #cc0000;
}

div#maincontent
{
    margin: 0 2em 2em 2em;
    clear: none;
/*  
    margin-left: auto;
    margin-right: auto;
    padding-right: 2em;
    padding-left: 2em;
    max-width: 800px;
*/
}

div#maincontent div.design
{
    width: 100%;
}

div#footer
{
    clear: both;
}

div#footer div.design
{
    background-color: #ff3300;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

div#footer address, div#footer a
{
    color: #ffffff;
}


/* General child "line view" object settings */

#folder div.child h2
{ 
    color: #444444;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#folder div.child div.byline
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#folder div.child div.object_brief p
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.readmore
{ 
    font-size: small;
}

#folder div.child div.readmore a
{ 
    color: #304b82;
}

#folder div.child div.readmore p
{ 
    padding: 0px;
    margin: 0px;
}

/* article styles */

#article div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#article div.intro p
{ 
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

/* Search */

div.advancedsearchbox
{ 
   display: none;
}

/* General */

h1
{ 
    margin-bottom: 5px;

}

div.editbutton
{ 
   float: right;
}

div.editbutton input
{ 
   font-size: small;
   background-color: #304b82;
   color: #ffffff;
}

/* Forum page templates */

table.forum
{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

table.forum tr.bglightforum
{
    background-color: #f0f0f0;
}

table.forum tr.bgdarkforum
{
    background-color: #e8e8e8;
}

table.forum th
{
    font-size: 80%;
    color: #ffffff;
    background-color: #cc0000;
    padding: 0.5em;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

table.forum tr.subheader th
{
    background-color: #ff3300;
}

div.forum_level1 td.image
{
    border-right: 0 !important;
    width: 1%;
}

table.forum td
{
    font-size: 80%;
    color: #000000;
    padding: 0.2em 0.5em 0.2em 0.5em;
    vertical-align: top;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

table.forum p, table.forum input
{
    font-size: 100%;
}

table.forum input
{
    margin-bottom: 0.2em;
}

div.forum_level1 td.topics
{
    width: 98%;
}

div.forum_level1 td.topics a
{
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.forum_level1 th.postcount
{
    width: 1%;
}

div.forum_level1 th.replycount
{
    width: 1%;
}

div.forum_level3 td.post
{
    width: 40%
}

div.forum_level3 td.post a
{
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.forum_level3 td.author
{
    width: 20%
}

div.forum_level3 td.replies
{
    width: 1%
}

div.forum_level3 td.lastreply
{
    width: 39%
}

div.forum_level3 td.lastreply a
{
    color: #000000;
    text-decoration: underline; 
}

div.forum_level4 td.author
{
    width: 20%
}

div.forum_level4 td.author p
{
    font-size: 85%
}

div.forum_level4 td.message
{
    width: 80%
}

div.forum_level4 td.message
{
    font-size: 100%
}

div.forum_level4 td.message p
{
    font-size: 80%
}

div.forum_level4 td.message p.date
{
    font-size: 65%
}

table.frontpagelist
{
    margin: 0.5em 0 0.5em 0;
    width: 100%;
}

table.frontpagelist th
{
    color: #ffffff;
    background-color: #cc0000;
    padding: 0.5em;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

table.frontpagelist td
{
    background-color: #f0f0f0;
    padding: 0.5em;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

table.frontpagelist th p
{
    padding: 0;
    margin: 0;
}

table.frontpagelist a
{
    color: #000000;
    font-weight: bold;
}

table.frontpagelist li
{
    list-style-type: none; 
}

table.frontpagelist a
{
    color: #000000;
    display: block; 
    margin-left: -16px;
    padding-left: 16px;
    text-decoration: underline;
    background-image: url(../images/frontpage_bullet.gif);
    background-position: top left;
    background-repeat: no-repeat;
}

div.selectedsearch
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.selectedsearch input.searchtext
{
    font-size: 80%;
    width: 8em;
}

div.selectedsearch input.searchbutton
{
    font-size: 80%;
    margin-right: 1em;
}
