body
{
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#infobox img
{ 
    background-color: #ffffff;
    padding: 6px;
}


div#background /* Stretching over the the whole area the other DIVs cover, and the areas in between them; visible where no other color is set or any other DIVs cover. */
{
    background-color: #a3a3a3;
    height: 1%; /* Needed for IE5.5 to stop background color bug */
}

div#header
{
    background-image: url(../images/gray_header.png);
    background-position: top left;
    background-repeat: repeat;
    border-bottom: 1px dotted #cccccc;
}

div#header div.design
{
    background-position: top left;
    background-repeat: no-repeat;
    height: 68px;
}

div#logo
{
    float: left;
    margin-top: 0.3em;
    margin-left: 0.4em;
}

div#subheader
{
    background-color: #c3c3c3;
    padding: 0.1em; /* Padding needs to be set to a value other than 0 to stop a Mozilla color bug. */
    border-bottom: 1px dotted #cccccc;
}

div#mainmenu
{
    float: left;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

div#mainmenu ul, div#mainmenu li
{
    display: inline; /* This makes the vertical display of this menu */
}

div#mainmenu ul
{
    margin-left: 0em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#mainmenu li a
{
    padding-left: 1em;
    padding-right: 3em;
}

div#mainmenu a
{
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}

div#mainmenu a:hover
{
    text-decoration: underline;
}

div#searchbox
{
    position: absolute; 
    top: 15px; 
    right: 5px;
}

div#searchbox input.searchtext
{
    font-size: 80%;
    width: 8em;
}

div#searchbox input.searchbutton
{
    font-size: 70%;
    margin-right: 1em;
    background-color: #cecece;
    height: 25px;
}

div#path
{
    margin-top: 1.7em;
    margin-bottom: 1em;
}

div#path p
{
    margin: 0;
}

div#path a
{
    color: #000000;
    text-decoration: none;
}

div#submenu
{
    float: left;
    clear: left;
    width: 8em;
}

div#submenu div.design
{
    padding: 0.1em;
}

div#submenu ul
{
    list-style-type: none;
    margin-left: 1em;
    margin-top: 2em;
}

div#submenu li
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div#submenu a
{
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}

div#submenu a:hover
{
    text-decoration: underline;
}

div#infobox
{
    margin-top: 0;
    margin-bottom: 2em;
    float: left;
    clear: left;
    width: 200px;
}

div#infobox div.design
{
    border: 1px solid #e4eaf3;
    background-position: top left;
    background-image: url(../images/gray_info.png);
    background-repeat: repeat;
}

div#infobox h3
{
    padding: 0.2em;
    padding-left: 1.2em;
    background-color: #333333;
    color: #ffffff;
}

div#infobox ul
{
    list-style-type: none;
    margin-bottom: 1.5em;
}

div#infobox li
{
    margin-top: 1em;
    margin-bottom: 1em;
}

div#infobox a
{
    color: #ffffff;
    text-decoration: none;
}

div#maincontent
{
    margin-bottom: 2em;
    margin-right: 8em;
    margin-left: 240px;
    clear: none;
}

div#footer
{
    clear: both;
}

div#footer div.design
{
    background-color: #333333;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

div#footer a
{
    color: #ffffff;
    text-decoration: none;
}

div#footer
{
    text-align: center;
    color: #ffffff;
}

/* General child "line view" object settings */

#folder div.child h2
{ 
    color: #444444;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#folder div.child div.byline
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#folder div.child div.object_brief p
{ 
    margin: 0px;
    padding: 0px;
}

#folder div.child div.readmore
{ 
}

#folder div.child div.readmore a
{ 
    color: #304b82;
}

#folder div.child div.readmore p
{ 
    padding: 0px;
    margin: 0px;
}

/* article styles */

#article div.byline p
{ 
    color: #888888;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

#article div.intro p
{ 
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

/* image styles */

.imagelist table
{
    width: 100%;
}

.imagelist td
{
    text-align: center;
    vertical-align: top;
}

.imagelist td img
{
    background-color: #ffffff;
    padding: 6px;
}

#image img
{ 
    background-color: #ffffff;
    padding: 12px;
}

#image div.navigation img
{ 
    background-color: #ffffff;
    padding: 6px;
}

div.image_line img
{ 
    background-color: #ffffff;
    padding: 6px;
}

div.image_line h2
{
    font-size: 85%;
    font-weight: bold;
}

#image .navigation
{
}

#image .navigation .album, #image .navigation .gallery
{
    display: inline;
}

#image .navigation h2
{
    font-size: 85%;
    background-color: #333333;
    color: #ffffff;
    padding: 0.5em;
}

#image  a
{
    color: #fff;
    text-decoration: none;
}

/* Album styles */

#album .info
{
}

#album a
{
    color: #fff;
    text-decoration: none;
}

#album .info h2
{
    text-align: center;
    font-size: 85%;
    background-color: #333333;
    color: #ffffff;
    padding: 0.5em;    
}


#album .navigation
{
}

#album .navigation .gallery
{
    display: inline;
}

#album .navigation h2
{
    font-size: 85%;
    background-color: #333333;
    color: #ffffff;
    padding: 0.5em;
}

/* Gallery */

#gallery img
{ 
    background-color: #ffffff;
    padding: 6px;
}

#gallery .list
{
}

#gallery .list tr
{
    padding: 4px;
}

#gallery .list .image
{
    text-align: center;
    vertical-align: top;
}

#gallery .list .info
{
    vertical-align: top;
}

#gallery .list .info p.footer
{
    vertical-align: bottom;
}

#gallery .list .info h2
{
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}

#gallery .list .info h2 a
{
    color: #fff;
    text-decoration: none;
}

#search .result .gallery_search h3
{
    text-align: left;
}

#search .result .gallery_search ul
{
}

#search .result .gallery_search li
{
    text-align: left;
}

/* image comments */

#commentlist
{ 
    background-color: #cccccc;
    padding: 10px;
}

#commentlist h2
{ 
    color: #999999
    border-bottom: 1px solid #999999;
}

/* Search */

div.advancedsearchbox
{ 
   display: none;
}

#search img
{
    background-color: #ffffff;
    padding: 6px;
}


/* General */

h1
{ 
    font: bold 130% Georgia,Serif;
    margin-bottom: 8px;
    color: #333333;
}

div.editbutton
{ 
   float: right;
}

div.editbutton input
{ 
   font-size: small;
   background-color: #304b82;
   color: #ffffff;
}

/* Frontpage */

#frontpage
{
   margin-left: -200px;
}

#frontpage .image img
{
    background-color: #ffffff;
    padding: 6px;
}

div.error, div.warning, div.feedback, div.highlight
{
    font-size: 80%;
    color: #000;
    border-width: 0px;
}

div#searchtips h2
{ 
    font-size: 140%;
    font-weight: bold;
}

div#searchtips p
{ 
    font-weight: bold;
}

#search .result td
{
    text-align: center;
    vertical-align: top;
}

#search .result td h2
{
    font-size: 85%;
    font-weight: bold;
}

#search .result img
{
    padding: 3px;
}
